<%= error_messages_for 'typedocument' %>

<p><label for="typedocument_nom"><%= _("Name") %></label><br />
<%= text_field 'typedocument', 'nom'  %></p>

<p><label for="typedocument_description"><%= _("Description") %></label><br />
<%= text_area 'typedocument', 'description'  %></p>
