<%= error_messages_for 'typedocument' %>

<!--[form:typedocument]-->
<p><label for="typedocument_nom">Nom</label><br/>
<%= text_field 'typedocument', 'nom'  %></p>

<p><label for="typedocument_description">Description</label><br/>
<%= text_area 'typedocument', 'description'  %></p>
<!--[eoform:typedocument]-->

