<h1>Editing typedocument</h1>

<% form_tag typedocument_path(@typedocument), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', typedocument_path(@typedocument) %> |
<%= link_to_back %>
