<h1>Liste des types possible de documents</h1>

<%= show_pages_links(@typedocument_pages, 'une nouveau type d\'url') %>

<% titres = []%>
<%= show_table(@typedocuments, Typedocument, titres, :content_columns => true) { |m|
  result = ''
  result << "#{link_to_actions_table m}"
}%>

<%= show_pages_links(@typedocument_pages, 'une nouvelle url') %>
