<% for column in Tache.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @tache.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @tache %> |
<%= link_to 'Back', :action => 'list' %>
