/**
 *
 * Used for the BIG calendar views
 *
 **/

.big_calendar {
  width: 100%;
  border-color: transparent;
  margin: 0px;
}

.month_caption {
  font-size: 1.5em;
  font-weight: bold;
  color: #000000;
  text-align: center;
  padding: 0.5em;
}

.weekdays {
  background: url('../images/weekday.jpg');
  padding: 5px;
  font-size: 1.5em;
  color: #FFFFFF;
  border-color: #000000;
  border-width: 2pt;
  border-style: solid;
  text-align: center;
}

.big_calendar_date {
  font-size: 1.5em;
  font-weight: bold;
  color: #000000;
  border: none;
  text-align: left;
}

.holidays {
  color: #808080;
  text-align: left;
}

.big_calendar_events {
  font-size: 1em;
  border-color: #000000;
  border-width: 1pt;
  border-style: solid;
  text-align: left;
  padding: 5px;
  background-color: #FFFFFF;
}

/**
 *
 * Used for the weekly calendar views
 *
 **/
.week-view {
  width: 100%;
  padding: 0;
  border-collapse: collapse;
}

.week-view tbody tr th {
  border-right: 1px solid black;
  text-align: left;
  padding-right: .5em;
}

.week-view tbody tr th h3 {
  display: inline;
  font-size: 3em;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}

.week-view th {
  background-color: #eee;
  color: black;
}

.week-view tr td {
  border-style: solid;
  border-width: 1px 1px 0 0;
  width: 19%;
  padding: 0;
  background-color: #ffffd5;
}

.week-view tr.d30 td,
.week-view tr.d30 th {
  font-size: 8px;
  height: 1em;
  border-color: #f3e4b1 #000;
}

.week-view tr.m00 td {
  border-top-color: #c2b68d;
}

.week-view tr.m00 th {
  vertical-align: top;
}

