body {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #eaeafa;
  font-size: 1em;
  font-family: 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
  font-size:   12px;
  line-height: 18px;
}

#footer {
  color: black;
  background-color: #e2efe2;
  text-align: center;
  bottom: 0;
  border-top: 1px solid #dddddd;
  z-index: 1;
}

p img {
  vertical-align: middle;
}

label {
  font-weight: bold;
}

ul { list-style-type: square; }
li img { vertical-align: middle; }

a, a:active, a:visited, a:focus {
  text-decoration: none;
  color: #1A5270;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  border-bottom: none;
  color: #eee;
}

.menu_title {
  border-top: 1px solid #ffffff; 
  border-bottom: 1px solid #999999;
  background-color: #dddddd; 
  font-weight: bold;
  cursor: pointer;
}

.aligned_picture { vertical-align: middle; }

.datestamp div {
    text-align: center;
    line-height: 1.4em;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Sans-Serif;
    padding: 1px;
    width: 2.9em;
    background-color: #f0f0ff;
    border: 1px;
    border-style: solid;
    border-color: #007062;
    float: left;
    margin-right: 10px;
}

.datestamp {
    display: inline;
    padding: 1px;
    margin-right: 1em;

}

.datestamp span {
    display: block;
}