<h1><%= t(:teams_index) %></h1>

<% paginated_section(@teams, :create_label => t('a_team')) do %>
 <% titles = [t('Name'), t('Contact'), t('Motto')]%>
 <%= show_table(@teams, Team, titles) do |t|
   result = ''
   result << "<td>#{link_to t.name, team_path(t)}</td>"
   result << "<td>#{link_to t.contact, account_path(t.contact)}</td>"
   result << "<td>#{t.motto}</td>"
   result << "#{link_to_actions_table t}"
 end %><br />
 <%= page_entries_info @teams %>
<% end %>
