<%= error_messages_for 'license' %>

<!--[form:license]-->
<p><label for="license_nom">Nom</label><br />
<%= text_field 'license', 'nom'  %></p>

<p><label for="license_url">Url</label><br />
<%= text_field 'license', 'url'  %></p>

<p><label for="license_certifie_osi">Certifié OSI</label> 
<%= check_box 'license', 'certifie_osi' %></p>
<!--[eoform:license]-->

