<h1>Editing license</h1>

<% form_tag license_path(@license), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', license_path @license %> |
<%= link_to_back %>
