<h1>Liste des licenses Open Source</h1>

<%= show_pages_links(@license_pages, 'une license OS') %>

<% titres = []%>
<%= show_table(@licenses, License, titres, :content_columns => true) { |m|
  result = ''
  result << "#{link_to_actions_table m}"
}%>

<%= show_pages_links(@license_pages, 'une license OS') %>

