<h1>Editer un bénéficiaire</h1>

<%= start_form_tag :action => 'update', :id => @beneficiaire %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to_view @beneficiaire %> |
<%= link_to_back %>
