<h1>Liste des beneficiaires</h1>


<%= show_pages_links(@beneficiaire_pages, 'un bénéficiaire') %>

<% titres = ['Nom', 'Domaine']%>
<%= show_table(@beneficiaires, Beneficiaire, titres) { |c|
  result = ''
  result << "<td>#{c.nom}</td>"
  result << "<td>#{c.domaine}</td>"
  result << "#{link_to_actions_table c}"
}%>


<%= show_pages_links(@beneficiaire_pages, 'un bénéficiaire') %>


