<% for column in Beneficiaire.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @beneficiaire.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @beneficiaire %> |
<%= link_to 'Back', :action => 'list' %>
