<h1>Liste des bouquets</h1>
<%= show_pages_links(@bouquet_pages, 'un bouquet') %>

<% titres = []%>
<%= show_table(@bouquets, Bouquet, titres, :content_columns => true) { |c|
  result = ''
  result << "#{link_to_actions_table c}"
}%>


<%= show_pages_links(@bouquet_pages, 'un bouquet') %>


