<%= error_messages_for 'dependance' %>

<!--[form:dependance]-->
<p><label for="dependance_nom">Nom</label><br />
<%= text_field 'dependance', 'nom'  %></p>

<p><label for="dependance_sens">Sens</label><br />
<%= text_field 'dependance', 'sens'  %></p>

<p><label for="dependance_version">Version</label><br />
<%= text_field 'dependance', 'version'  %></p>
<!--[eoform:dependance]-->

