<h1>Editing dependance</h1>

<% form_tag dependance_path(@dependance), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', dependance_path(@dependance) %> |
<%= link_to_back %>

