<h1><%= _('Editing dependency')%></h1>
<div class="show">
  <% form_tag dependance_path(@dependance), :method => :put do %>
    <%= render :partial => 'form' %>
    <br />
    <%= submit_tag 'Edit' %>
  <% end %>
  <br />
  <%= link_to_show_and_list @dependance %>
</div>
