<h1><%= _('New dependency')%></h1>
<div class="show">
  <% form_tag dependances_path do %>
    <%= render :partial => 'form' %>
    <br />
    <%= submit_tag _("Create") %>
  <% end %>
  <br />
  <%= link_to_back %>
</div>
