<div class="show">
  <% for column in Dependance.content_columns %>
  <p>
    <b><%= column.human_name %>:</b> <%= @dependance.send(column.name) %>
  </p>
  <% end %>
  <br />
  <%= link_to_edit_and_list @dependance %>
</div>
