<% for column in Dependance.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @dependance.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', edit_dependance_path(@dependance) %> |
<%= link_to 'Back', dependances_path %>
