<%= error_messages_for 'urlreversement' %>

<!--[form:urlreversement]-->

<p><label for="urlreversement_valeur">Valeur</label><br/>
<%= text_field 'urlreversement', 'valeur'  %></p>

<p><label for="urlreversement_contribution">Contribution</label><br/>
  <%= select("urlreversement", "contribution_id", 
	@contributions.collect{|c| [ c.nom, c.id]}, 
	:selected => params[:contribution_id].to_i) %></p>

<!--[eoform:urlreversement]-->
