<h1>Modifier une url de reversement</h1>

<% form_tag :action => 'update', :id => @urlreversement do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Valider' %>
<% end %>

<%= link_to_edit_and_list(@urlreversement) %>
