<h1><%=_('Edit your url')%></h1>

<% form_tag(url_reversement(@urlreversement), :method => :put) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Validate') %>
<% end %>

<%= link_to_edit_and_list(@urlreversement) %>
