<h1><%=_('List of urls in contributions')%></h1>

<% links = show_pages_links(@urlreversement_pages, _('a new url')) %>
<%= links %>

<% titres = [_('Software'), _('Url'), _('Contribution')]%>
<%= show_table(@urlreversements, Urlreversement, titres) { |u|
  result = ''
  contribution = u.contribution
  result << "<td>#{public_link_to_software contribution.software if contribution}</td>"
  result << "<td><a href=\"#{u.valeur}\">#{u.valeur}</a></td>"
  result << "<td>#{contribution.name if contribution}</td>"
  result << link_to_actions_table(u)
}%>

<%= links %>
