config/database.yml
db/schema.rb
files/*
lib/config.rb
locale/*
log/*.log
nbproject/*
public/stylesheets/all.css
public/javascripts/all-*.js
public/festivaltts_mp3/*
public/image/*
public/images/reporting/*
test/coverage/*
tmp/*
.dotest/
doc/*
*.*~
