<h1>Editing typedemande</h1>

<% form_tag typedemande_path(@typedemande), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', typedemande_path(@typedemande) %> |
<%= link_to_back %>
