<% for column in Typedemande.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @typedemande.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @typedemande %> |
<%= link_to 'Back', :action => 'list' %>
