<% for column in Typedemande.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @typedemande.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', edit_typedemande_path(@typedemande) %> |
<%= link_to 'Back', typedemandes_path %>
