<h1><% t('List of the comments') %></h1>

<% paginated_section(@comments, :create_label => t('a comment')) do %>
 <% titles = [t('Issue'), t('Body'), t('Created on'), t('Updated on')]%>
 <%= show_table(@comments, Comment, titles) { |c|
   result = ''
   result << "<td>#{link_to_issue c.issue}</td>"
   result << "<td>#{indent c.text}</td>"
   result << "<td>#{c.created_on_formatted}</td>"
   result << "<td>#{c.updated_on_formatted}</td>"
   result << "#{link_to_actions_table c}"
 }%>
 <%= page_entries_info @comments %><br />
<% end %>
