<p><b>Crée le : </b><%= @projet.created_on_formatted %></p>
<p><b>Màj le </b><%= @projet.updated_on_formatted %></p>
<br />

<% for column in Projet.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=indent @projet.send(column.name) %>
</p>
<% end %>

<%= show_liste(@projet.taches, 'tache') { |t| link_to_tache(t) } %>

<%= link_to_edit_and_list(@projet) %>
