<h1>Editing severite</h1>

<% form_tag severite_path(@severite), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', severite_path(@severite) %> |
<%= link_to_back %>
