<% for column in Severite.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @severite.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', edit_severite_path(@severite) %> |
<%= link_to 'Back', severites_path %>
