<% for column in Severite.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @severite.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @severite %> |
<%= link_to 'Back', :action => 'list' %>
