<% logiciels = @interactions.collect{|i| i.logiciel_id}.uniq %>
<%# communautes = logiciels.collect{|l| (l.communaute ? l.communaute_id : nil) }.uniq %>

<h1>Statistiques</h1>

<br/>
<p>Communautés : <a style="color:red">[TODO]</a> <%# communautes.size %></p>
<p>Logiciels : <%= logiciels.size %></p>
<p>Temps passé avec les communautés : <%= @interactions.collect{|i| i.temps_passe}.sum %> jours</p>
<p></p>
