<h1>Editer une interaction</h1>

<%= start_form_tag :action => 'update', :id => @interaction %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @interaction %> |
<%= link_to 'Back', :action => 'list' %>
