<% for column in Interaction.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @interaction.send(column.name) %>
</p>
<% end %>

<% if @interaction.logiciel %>
<p><b>Logiciel : </b><%= link_to(@interaction.logiciel)%></p>
<% end %>

<% if @interaction.ingenieur %>
<p><b>Intervenant : </b><%= @interaction.ingenieur.nom%></p>
<% end %>



<%= link_to 'Edit', :action => 'edit', :id => @interaction %> |
<%= link_to 'Back', :action => 'list' %>
