<th>
  <% unless @versions.empty? %>
    <label for="software_revision_id"><%= _("Version") %></label>
  <% end %>
</th>
<td>
  <% unless @versions.empty? %>
    <% options = { :selected => (@issue.version_id ? "v#{@issue.version_id}" : "r#{@issue.release_id}") } %>
    <%= select_empty(:software, :revision_id, @versions, options) %>
  <% end %>
</td>
