<h1>Editer un paquet</h1>

<% form_tag paquet_path(@paquet), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Enregistrer' %>
<% end %>

<%= link_to 'Voir', paquet_path(@paquet) %> |
<%= link_to_back %>
