<h1><%=_('Edit this url')%></h1>

<% form_tag(contributionurl_path(@contributionurl), :method => :put) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Validate') %>
<% end %>

<%= link_to_back %>
