   Pour mémoire, nous vous rappelons les canaux d'accès :
   - courriel : <%= @identifiant.beneficiaire.client.mailingliste %>

   - téléphone : 08000 54 689 (taper 1 puis <%= @identifiant.beneficiaire.client.code_acces %>)
   - fax : 01 58 18 68 29
   - portail : http://www.08000linux.com/
