<p>&nbsp;&nbsp;Pour mémoire, nous vous rappelons les canaux d'accès :
<% url = "http://www.08000linux.com/" %>
<ul>
  <li> Téléphone : 08000 54 689 (taper 1 puis <%= @user.client.access_code %>)</li>
  <li> Fax : 01 58 18 68 29</li>
  <li> Portail : <%= "<a href=\"#{url}\">www.08000linux.com</a>" %></li>
</ul>
</p>
