Bonjour,

   Votre demande [#<%= @demande.id %>] : "<%= @demande.resume %>" est désormais <%= @demande.statut.nom %>

   Cette modification a été faite par <%=h @nom %>.


<%= render :partial => '../notifier/end_mail'%>
