Bonjour,<br/>

<p>
  <% url = url_for :only_path => false, :id => @demande.id, :controller => 'demandes', :action => 'comment' %>
&nbsp;&nbsp;Votre <%= "<a href=\"#{url}\">demande ##{@demande.id}.</a>" %><br/> : "<%= @demande.resume %>" est pris en charge par <%=h @demande.ingenieur.identifiant.nom %>. Il est dorénavant votre interlocuteur priviligié sur votre demande.
</p>

<%= render :partial => '../notifier/end_mail'%>
