<% url_demande = "<a href=\"#{@url_request}\">demande ##{@demande.id}</a>" %>
La <%= url_demande %> a été commentée par <i><%=h @nom %></i>
<% if @statut_modifie%>
 et est désormais <b><%= @demande.statut.nom %></b>
<% end %>
:<br/>
<hr noshade size="1px"/><br/>
<%= @commentaire.corps %><br/>
<hr noshade size="1px"/><br />

<%= render :partial => '../notifier/end_mail' %>
