Bonjour,<br/>

<%
  if @mailinglist.size == 1
    text = "La mailing-liste #{@mailinglist.first} n'existe pas."
  else
    text = "Les mailing-listes #{@mailinglist.join(", ")} n'existent pas."
  end
%>
<p><%= text %> Si vous pensez que c'est une erreur n'hésitez pas à nous contacter.</p>

Cordialement,<br/>
<br/>
L'équipe du 08000Linux