Bonjour,<br />

<p>
 <% 
  url_issue = url_for(:controller => "issues", :action => "show", :id => @issue.id, 
   :only_path => false)
  link_to_issue = "<a href=\"#{url_issue}\">demande ##{@issue.id}</a>" %>
&nbsp;&nbsp;Un nouveau ticket <%= link_to_issue %> a été déclaré par <%= h @issue.submitter.name %>.
</p>

<hr noshade size="1px"/>
<%= @issue.description %><br />
<hr noshade size="1px"/><br />


<%= render :partial => 'end_mail'%>
