Bonjour,<br />

<p>
 <% url_demande = "<a href=\"#{@url_request}\">demande ##{@demande.id}</a>" %>
&nbsp;&nbsp;Un nouveau ticket <%= url_demande %> a été déclaré par <%= h @nom %>.
</p>

<hr noshade size="1px"/>
<%= @demande.description %>
<hr noshade size="1px"/><br />


<%= render :partial => '../notifier/end_mail'%>
