Une suggestion a été soumise, venant de <i><%=h @author.name %></i> : 
<br /><hr noshade size="1px"/><br />
<%= @suggestion %><br />
<hr noshade size="1px"/><br />

<%= render :partial => '../notifier/end_mail' %>
