<%= error_messages_for 'typecontribution' %>

<!--[form:typecontribution]-->
<p><label for="typecontribution_nom">Nom</label><br/>
<%= text_field 'typecontribution', 'nom'  %></p>

<p><label for="typecontribution_description">Description</label><br/>
<%= text_area 'typecontribution', 'description'  %></p>
<!--[eoform:typecontribution]-->

