<h1>Editing typecontribution</h1>

<% form_tag typecontribution_path(@typecontribution), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', typecontribution_path(@typecontribution) %> |
<%= link_to_back %>
