<% for column in Typecontribution.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @typecontribution.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', edit_typecontribution_path(@typecontribution) %> |
<%= link_to 'Back', typecontributions_path %>
