<h1>Editing jourferie</h1>

<% form_tag jourferie_path(@jourferie), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', jourferie_path(@jourferie) %> |
<%= link_to_back %>
