<h1>Liste des jourferies</h1>


<%= show_pages_links(@jourferie_pages, 'un jour férié') %>

<% titres = ['Jour']%>
<%= show_table(@jourferies, Jourferie, titres) { |c|
  result = ''
  result << "<td>#{c.jour_formatted}</td>"
  result << "#{link_to_actions_table c}"
}%>


<%= show_pages_links(@jourferie_pages, 'un jour férié') %>


