<div class="show">
<% for column in Jourferie.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @jourferie.send(column.name) %>
</p>
<% end %>
<br />
<%= link_to_edit_and_list @jourferie %>
</div>
