<h1><%=_('List of softwares\' links')%></h1>

<% links = show_pages_links(@urllogiciel_pages, 'a new url') %>
<%= links %>

<% titres = [_('Software'),_('Url'),_('Kind')]%>
<%= show_table(@urllogiciels, Urllogiciel, titres) { |u|
  result = ''
  result << "<td>#{u.logiciel.nom}</td>"
  result << "<td>#{u.valeur}</td>"
  result << "<td>#{u.typeurl.nom}</td>"
  result << link_to_actions_table u
}%>

<%= links %>
