<h1><%=_("List of softwares' links")%></h1>

<% links = show_pages_links(@urllogiciel_pages, _('a new url')) %>
<%= links %>

<% titles = [_('Software'),_('Url'),_('Kind')]%>
<%= show_table(@urllogiciels, Urllogiciel, titles) { |u|
  result = ''
  result << "<td>#{u.logiciel.name}</td>"
  result << "<td>#{u.valeur}</td>"
  result << "<td>#{u.typeurl.name}</td>"
  result << link_to_actions_table(u)
}%>

<%= links %>
