<h1>Liste des liens</h1>

<%= show_pages_links(@urllogiciel_pages, 'une nouvelle  url') %>

<% titres = ['Logiciel','Url','Type']%>
<%= show_table(@urllogiciels, Urllogiciel, titres) { |m|
  result = ''
  result << "<td>#{m.logiciel.nom}</td>"
  result << "<td>#{m.valeur}</td>"
  result << "<td>#{m.typeurl.nom}</td>"
  result << "#{link_to_actions_table m}"
}%>

<%= show_pages_links(@urllogiciel_pages, 'une nouvelle url') %>


