/************************ sommaire ***********************/

/* Nouvel accueil */

div.sommaire {
	margin-right: 30px;
	vertical-align: top;
}

table.sommaire tr  { 
	vertical-align: top;
}

table.sommaire tr td { 
	vertical-align: top;
}

/* largeur des balises inputs */
.list input.text {
	width: 250px;
}
