/************************ sommaire ***********************/

/* Nouvel accueil */

div.sommaire {
	float: left;
	margin-right: 50px;
	valign: top;
}

table.sommaire tr { 
	vertical-align: top;
}

/* largeur des balises inputs */
.list input.text {
	width: 250px;
}
