/************************ sommaire ***********************/


/* Heritage du portail V1 */

table.sommaire   {
	border: 1px solid black;
	background-color: #DFDFDF;	
}
table.sommaire tr td {
	width: 33%;
	vertical-align: top;
}
dl.sommaire {
	padding: 0 2em 2em 1em;
	width: 90%;
	margin: 0;
}
dl.sommaire dt {
	border-bottom: 1px solid black;
	width: 50%;
	margin-top: 2em;
	margin-bottom: 1em;
}
dl.sommaire dd {
	text-align: justify;
}
dl.sommaire dd.action ul {
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	width: 60%;
	margin-top: 1em;
	padding: 0.4em 1em 0.4em 1em;
	margin-left: 0em;
	text-align: left;
}
dl.sommaire dd.action ul li {
	margin-left: 1em;
	padding-left: 0em;
}


/* Nouvel accueil */

div.sommaire {
	float: left;
	margin-right: 50px;
}


/* largeur des balises inputs */
.list input.text {
	width: 250px;
}
.list dl dt {
	float: left;
	clear: left;
	font-weight: bold;
}
.list dl dd {
	float: left;
	clear: right;
}
