/* comments.css
 * Copyright Linagora SA 2006 - Tous droits réservés.
 */

.commentaire-public {
	background: white;
}
.commentaire-prive {
	background: #E6E6E6;
}
.commentaire_infos {
	vertical-align: top;
	align: center;
	width: 18%;
}
.commentaire_text {
	width: 82%; 
}
.commentaire_action {
	vertical-align: top;
	width: 85px;
}
.commentaire_table {
	border: 1px solid #999999; /* border-spacing: 1em; */
	border-collapse: collapse;
	margin: 0.5em;
}
#commentaire_corps { /* textarea  */
	width: 100%; 
}


