/* comments.css
 * Copyright Linagora SA 2006 - Tous droits réservés.
 */

table.commentaire tr.public {
	background: white;
}
table.commentaire tr.prive {
	background: #E6E6E6;
}
table.commentaire td.infos {
	vertical-align: top;
	align: center;
	padding-right: 2px;
	width: 20%;
}

table.commentaire td.text {
	border-left: 1px solid #999999;
	padding-left: 13px;
	width: 75%; 
}

table.commentaire {
	border: 1px solid #999999;
	margin: 0.5em;
	width: 100%;
}
#commentaire_corps { /* textarea  */
	width: 100%; 
}


