/* sans cette ligne, on n'imprime qu'une page */
@media print
{
	body { overflow: none; }

	#bodycontent {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.report {
		background-color: white;
		padding: 0em;
	}
	/* call it by <p class="breakhere"/> */
	p.break_here {
		page-break-before: always;
	}
	div.report_form {
		display: none;
		visibility: hidden;
	}
	#header {
		display: none;
		visibility: hidden;
	}
	#footer {
		display: none;
		visibility: hidden;
	}
}
