/***************** bloc standard ***************/
.show tr td fieldset {
  width: 35em;
}

div.info { width: 100%; }

/* used mainly in show view, where we don't want 100% width */
.info  {
  width: 33%;
  max-width: 45em;
}

