
/****************
 * demandes.css *
 ****************/


/***************************************
 * liste des demandes
 * Suit la vie d'une demande en couleur
 ***************************************/

/* enregistree */
.demande_1 	{background: #f03730; /*red;*/}
.demande_1:hover{background: #f03700;}

/* priseencompte */
.demande_2 	{background: #ffa26e; /*orange;*/}	
.demande_2:hover{background: #ffa23e; }

/* suspendue */
.demande_3	{background: #ffffba; /*yellow;*/}
.demande_3:hover{background: #ffff88; }

/* analysee */
.demande_4 	{background: #a0e0f0; /*cyan;*/}
.demande_4:hover{background: #a0e0c0;}

/* contournee */
.demande_5 	{background: #90EEa0; /* lightgreen; */}
.demande_5:hover{background: #90EE70; }

/* corrigee */
.demande_6 	{background: #67ccfd;}
.demande_6:hover{background: #67cccd;}

/* cloturee */
.demande_7 	{background: #c9c9af; /*grey;*/}
.demande_7:hover{background: #c9c97f; }

/* annulee */
.demande_8 	{background: #D3D3D3; /*lightgrey;*/}
.demande_8:hover{background: #D3D3a3;
cursor: url('http://www2:3000/images/logo_08000.gif)';}



/**************************************
 * Mise en page
 **************************************/

.content {
  top: 1em;
  float: left;
  width: 75%;
  padding: 0 0 0 1em;
}
.summary {
  border-right: 1px solid #990066; /* #cfc8cf;*/
  border-bottom: 1px solid #990066;
  width: 23%;
  float: left;
  margin-left: -2%;
  margin-top: -2%;
}

.underline {
  border-bottom: 1px solid #990066;
  width: 100%;
}


ul.menu {
  margin: 2px 0 1em 0;
}

ul.menu li {
  font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
  font-size: 100%;
  color: black;
  list-style-type: none;
  background-image: url(/images/puce.png);
  background-repeat: no-repeat;
  background-position: 0% 65%;
  padding-left: 15px;
  margin-left: -30px;
  margin-top: -3px;
}



/******************************************
 * Tabulations 
 ******************************************/
.demande_tabnav {
	color: #000000;
	border-bottom: 2px solid black;
	margin: 12px 0px 0px 0px;
	padding: 0px;
	z-index: 1;
	padding-left: 10px }

.demande_tabnav li {
	display: inline;
	overflow: hidden;
	list-style-type: none; }

.demande_tabnav a, a.active {
	color: #000000;
	background: #FFEBBF;
	font: bold 1em "Trebuchet MS", Arial, sans-serif;
	border: 2px solid black;
	padding: 2px 5px 0px 5px;
	margin: 0;
	text-decoration: none; }

.demande_tabnav a.active {
	background: #FFB000;
	border-bottom: 3px solid #FFB000; }

.demande_tabnav a:hover {
	color: #FFFFFF;
	background: #FFD880; }

.demande_tabnav a:visited {
	color: #B37B00; }

.demande_tabnav a.active:hover {
	background: #FFB000;
	color: #FFEBBF; }

.demande_tab_content {
        font: 0.9em/1.3em "bitstream vera sans", verdana, sans-serif;
	text-align: justify;
	background: #FFB000;
	padding: 20px;
	border: 2px solid black;
	border-top: none;
	z-index: 2;	}

