
/***************************************************
 * demandes.css 
 * style des demandes et de leurs propriétés
 *
 ****************************************************/


/***************************************
 * Statut d'une demande en couleur
 ***************************************/

/* enregistree */
.demande_1 	{background: #f03730; /*red;*/}
.demande_1:hover{background: #f03700;}

/* priseencompte */
.demande_2 	{background: #ffa26e; /*orange;*/}	
.demande_2:hover{background: #ffa23e; }

/* suspendue */
.demande_3	{background: #ffffba; /*yellow;*/}
.demande_3:hover{background: #ffff88; }

/* analysee */
.demande_4 	{background: #a0e0f0; /*cyan;*/}
.demande_4:hover{background: #a0e0c0;}

/* contournee */
.demande_5 	{background: #90EEa0; /* lightgreen; */}
.demande_5:hover{background: #90EE70; }

/* corrigee */
.demande_6 	{background: #67ccfd;}
.demande_6:hover{background: #67cccd;}

/* cloturee */
.demande_7 	{background: #c9c9af; /*grey;*/}
.demande_7:hover{background: #c9c97f; }

/* annulee */
.demande_8 	{background: #D3D3D3; /*lightgrey;*/}
.demande_8:hover{background: #D3D3a3;}



/***************************************
 *                severite
 ***************************************/

/* TODO : options du select severite en couleur  */
option.severite_1 {
 	background-color: white;
}
option.severite_2 {
 	background-color: green;
}
option.severite_3 {
 	background-color: yellow;
}
option.severite_4 {
 	background-color: orange;
}
option.severite_5 {
 	background-color: red;
}
option.severite_6 {
 	background-color: black;
}


/******************************************
 * Tabulations (onglets)
 ******************************************/

.demande_tab {
	/*padding-bottom: 5em;*/
}
.demande_tabnav {
	color: #000000;
	margin: 12px 0px 0px 0px;
	padding: 0px;
	z-index: 2;
	padding-left: 10px 
}
.demande_tabnav li {
	display: inline;
	overflow: hidden;
	list-style-type: none; 
}
.demande_tabnav a, a.active {
	color: #000000;
	background:  #FFEBBF;
	font: bold 1em "Trebuchet MS", Arial, sans-serif;
	border: 2px solid #cfc8cf;
	padding: 2px 5px 2px 5px;
	margin: 0;
	border-bottom: 0;
	text-decoration: none; 
	-moz-border-radius: .5em .5em 0 0;
}
.demande_tabnav a.active {
	background: #cfc8cf;  
}
.demande_tabnav a:hover {
	color: #FFFFFF;
	background: #FFD880; 
}
.demande_tabnav a:visited {
	color: black; 
}
.demande_tabnav a.active:hover {
	background: #FFB000;
	color: #FFEBBF; 
}
.demande_tab_content {
	text-align: justify;
	background: #DDDDDD;
	padding: 0.5em;
	margin: 0;
	margin-top: 0px;
	border: 1px solid #cfc8cf; 
	z-index: -1;	
}

.demande_tab_content td {
  margin-right: 1em;
  padding-right: 1em;
}

/* history */
.demande_tab_content .history {
	font-size: 95%;
	padding: 0.5em;
}



/******************************************
 * Barre de progression 
 ******************************************/

.progress-border {
  width: 70px; 
  height: 15px;
  background: #fff; 
  border: 1px solid silver; 
  margin: 1px; 
  padding: 0px;
  position: relative; 
  float: right;
}
.progress-correction {
  height: 100%; 
  margin: 0; 
  padding: 0; 
  background: #f2ab99; 
  float: left
}
.progress-restant {
  height: 100%;  
  margin: 0;  
  padding: 0;  
  background-color: #b0d295;  
  float: left
}
.progress-contournement {
  height: 100%; 
  margin: 0;  
  padding: 0;  
  background-color:#e7e0c4;  
  float: left
}

/*****************  A RANGER  *****************/
