/**************************************
 * Mise en page
 **************************************/

.content {

}
.summary {
	/*border-right: 1px solid #999999; */ 
	width: 100%;
	height: 84%;
	/* float: left; *//* if table_content. See common.css */
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
}
.summary input, 
.summary select {
	/* width: 90%; *//* strange effect on IE */
        width: 15em;
}
.underline {
	border-bottom: 1px solid #990066;
	width: 100%;
}
.menu_title {
	border-bottom: 1px solid #999999;
	width: 100%;
	background-color: #dddddd;
	font-weight: bold;
}
ul.menu li {
	color: black;
	list-style-image: url(/images/puce.png);
	/*padding-left: 15px;*/
	margin-bottom: -2px;
}

/*********** not used *************/

/* au cas ou les listes passent pas sur IE 
.menu div {
	background-image: url(/images/puce.png);
	background-repeat: no-repeat;
	background-position: 0% 65% 0% 20%;
}
*/