/**************************************
 * Mise en page
 **************************************/

.content {
}
.summary {
	width: 19em;
	height: 100%; /*84%;*/
	background-color: #EEEEEE;
	/* float: left; *//* if table_content. See common.css */
	border-right: 1px solid #dddddd; 
	border-bottom: 1px solid #dddddd; 
	margin-top: -1px;
}
.summary_toogle {
	width: 4px;
	height: 100%;
        vertical-align: middle;
	background-color: #eeeeee; /* #009C55; */
	border-left: 1px dotted white;
	border-right: 1px dotted white;
	margin-top: -1px;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}
.summary_toogle:hover {
	background-color: #ffffff;
	border-left: 1px dotted #009C55; /* green */
	border-right: 1px dotted #009C55; /* green */
}
.summary input, 
.summary select {
	/* width: 90%; *//* strange effect on IE */
        width: 15em;
}
/* keep little space on the right 
   of date input for js_calendar ~2em */
#date_after,
#date_before {
        width: 13em;
}
.underline {
	border-bottom: 1px solid #990066;
	width: 100%;
}
.menu_title {
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #999999;
	width: 100%;
	background-color: #dddddd;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}
ul.menu li {
	color: black;
	list-style-image: url(../images/puce.png);
	margin-left: -1.5em;
	margin-bottom: -2px;
}

