/** 
 * Copyright Linagora SA 2007 - Tous droits réservés.
 * made by Guillaume Dufloux, inspired from http://collaboa.org/
 */

.simple_menu {
  vertical-align: middle;
  position: absolute;
  top: 0.2em;
  left: 190px;
  z-index: 0;
}

.account_menu {
  vertical-align: middle;
  position: float;
  top: 0.2em;
}
.simple_menu ul, .account_menu ul {
  margin: 0; padding: 0;
  list-style: none;
}
.simple_menu li, .account_menu li {
  display: inline;
}
.simple_menu a, .account_menu a {
  padding: 0 9px; 
  margin: 0; 
  line-height: 200%;
  text-decoration: none;
  border-bottom: none;
}

.simple_menu a {
  float: left;
}
.account_menu a {
  float: right; 
}

.simple_menu a:hover, .account_menu a:hover{
  color: #eee;
  background-color: #1A5260;
}

.simple_menu .no_hover:hover {
	background: none;
}
 

/** 
 * advanced menu (NON YET USED)
 * http://css.alsacreations.com/xmedia/exemples/deroulant/menu-horizontal2.htm 
 */

#menu .liste_menu, #menu .liste_title, #menu ul, #menu li {
margin: 0;
padding: 0;
list-style-type: none;
}
#menu {
position: absolute;
top: 3em; 
left: 50px;
z-index:100; 
}
#menu .liste_menu{
float: left;
width: 8em; /* keep it for IE */
margin: 0;
background: #eee;
}
#menu .liste_title {
height: 2em;
cursor: pointer;
text-align: center;
font-weight: bold;
}


#menu a {
  padding: 0 10px; 
  margin: 0; 
  font-size: 12px;
  line-height: 200%;
}
#menu a:hover {
  color: #eee;
  background-color: #1A5260;
}


#menu .liste_items {
display: none;
padding: 1em;
padding-top:0;
}
#menu li {
text-align: left;
}

/* PB with IE : 
   le hover ne s'applique qu'aux elements 'a href' 
.liste_menu:hover {
background: #eee;
border: 1px solid #ccc;
} /**/



