/** 
 * Copyright Linagora SA 2007 - Tous droits réservés.
 * reporting.css
 */


/******************** reporting *******************/


table.report tr td {
	text-align: center;
}

/* formulaire de saisie mois et ann� */
.report_form {
	background-color: #d2dfd2;
	float:right;
	padding: 1em;
	margin-left: 2em;
	border: 1px solid grey;
}
/* page de reporting */
.report {
	background-color: white;
	padding: 3em; 
}
/* tableaux statistiques */
.report_item, .report_sommaire {
	width: 100%;
	margin-top: 10px;
}
.report_graph {
	width: 40%;
}
.report_legend {
	text-align: center;	
	align: center;
	width: 20%;
}
.report_data {
	/*background-color: #d2dfd2;*/
	width: 40%;
	vertical-align: top;
}
.report_data table tr td {
	text-align: center;
}


/** titres du reporting **/

h1.title {
	font-size: 300%;
	text-align: center;
	line-height: normal;
}

h1.chapter {
	font-size: 300%;
	padding: 5pt;
	line-height: normal;
}

h2.chapter {
	font-size: 200%;
	padding: 5pt;
	line-height: normal;
}

h1.section {
	font-size: 100%;
	text-align: center;
	padding: 20pt;
	line-height: normal;
}

/** bandeau d'images du reporting **/

.report_images {
	margin: 2em;
	text-align: center;
}

#left  {
	margin: 2px;
	float: left;
	width: 40%;
	text-align: center;
}

#right {
	margin: 2px;
	float: right;
	width: 40%;
	text-align: center;
}

#middle {
	margin: 2px;
	float: left;
	width: 18%;
	text-align: center;
}

/* barre de progression */
.percentImage {
    background: white url(/images/percentimage_back2.png) no-repeat;
}
