/*
    This file is part of "TM2L-Portail".

    "TM2L-Portail" is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    "TM2L-Portail" is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with "TM2L-Portail"; if not, write to the Free Software
    Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA

    (C) Copyright 2005 Manuel Odesser <modesser@linagora.com>,
                       Linagora <http://www.linagora.com/>
*/

h3{
	font-size: 110%;
	margin-bottom:2%;
	font-weight:bold;
	margin-left: 1em;
}
h4{
	font-size: 100%;
	margin-bottom:2%;
	font-weight:bold;
	margin-left: 1.5em;
}
/* structure */
#zonegauche {
	text-align: left;
	vertical-align: top;
	width: 100%;
	margin:0;
	padding:0;
}
#zonedroite {
	width:200px;
	right: 0;
	vertical-align: top;
}
/* /structure */
div.form_admin_borderless {
	width: 95%;
	margin: 0.5em auto 3em auto;
}
/* hack pour IE */
* html form.form_admin_borderless {
	padding-right: 16px;
}
#users_list_iframe_div {
	padding: 0.5em 2em;
	display: none;
}
#user_list_action_div {
	float: right;
	border: 1px dotted black;
	width: 40%;
	margin-right: 1em;
	padding: 0.5em;
}
/* formulaires */
.obligatoire {
	color: #EE0000;
	font-weight: bold;
	padding-left: 1em;
}
.obligatoire_conditionnel {
	color: #778899;
	font-weight: bold;
	padding-left: 1em;
}
/* /formulaires */

.titre_list_moyen {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
	font-weight: bolder;
	padding: .5em 0;
	margin: 0;	
}
.note_importante {
	background-color: #F88;
	font-weight: bold;
}
