div.bloc_scroll, 
div.long_bloc_scroll {
      width: 99%;
      height: 10em;
      overflow: auto;
      border: 1px solid #000;
      background-color: #f2fff2;
}


div.long_bloc_scroll {
      height: 40em;
}

div.redbox_scroll {
  width: 100%;
  max-height: 600px;
  overflow: auto;
}