/* Editor Toolbar */
td.toolbar { 
width: 523px; 
background-image: url(/images/toolbar.gif);
background-repeat: repeat-y;
background-color: #ffffff;
}
table.toolbar { background-color: #C3D9FF; }

td.RTE_btn_bg {
width: 523px;
background-color: #C3D9FF;
}

div.RTE_bg {
background-color: #C3D9FF;
}

.RTE_btn_space { border: 1px solid #C3D9FF; height: 18px;}
.RTE_btn_thinspace { width: 2px; }
.RTE_btn_sep { width: 1px; background-color: #E8F1FF }
.RTE_btn_unsel, .RTE_btn_sel, .RTE_btn_hover, .RTE_btn_disabled {
  border: 1px solid #DBE9D9;
  width: 18px; height: 18px; cursor: default;
  background-repeat: no-repeat;
}

.RTE_btn_hover {
  border-left: 1px solid #E8F1FF;
  border-top: 1px solid #E8F1FF;
  border-right: 1px solid #9DAECD;
  border-bottom: 1px solid #9DAECD;
  background-repeat: no-repeat;
}

.RTE_btn_unsel:hover {
  border-left: 1px solid #E8F1FF;
  border-top: 1px solid #E8F1FF;
  border-right: 1px solid #9DAECD;
  border-bottom: 1px solid #9DAECD;
  background-repeat: no-repeat;
}

.RTE_btn_sel {
  border-left: 1px solid #9DAECD;
  border-top: 1px solid #9DAECD;
  border-right: 1px solid #E8F1FF;
  border-bottom: 1px solid #E8F1FF;
  background-color: #E8F1FF;
  background-repeat: no-repeat;
}

.RTE_btn_unsel {
  border: 1px solid #C3D9FF;
}

.RTE_btn_disabled {
 filter: gray() alpha(opacity=30);
 -moz-opacity: 0.30;
}
