<h1><%= _('Editing group')%></h1>

<% form_tag group_path(@group), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Edit') %>
<% end %>
<br />
<%= link_to_show_and_list @group %>
