<h1><%= t('Group list')%></h1>


<% paginated_section(@groups, :create_label => t('a group')) do %>
 <% titles = [t('Name') , t('Software') ]%>
 <%= show_table(@groups, Group, titles) do |g|
   result = ''
   result << "<td>#{g.name }</td>"
   result << "<td>#{g.softwares.size}</td>"
   result << "#{link_to_actions_table g}"
 end %>
 <% page_entries_info @groups %><br />
<% end %>
