<%= error_messages_for 'temps' %>

<!--[form:temps]-->
<p><label for="temps_contournement">Contournement</label><br/>
<%= text_field 'temps', 'contournement'  %></p>

<p><label for="temps_correction">Correction</label><br/>
<%= text_field 'temps', 'correction'  %></p>

<p><label for="temps_ecoule">Ecoule</label><br/>
<%= text_field 'temps', 'ecoule'  %></p>

<p><label for="temps_rappel">Rappel</label><br/>
<%= text_field 'temps', 'rappel'  %></p>
<!--[eoform:temps]-->

