<% for column in Temps.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @temps.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @temps %> |
<%= link_to 'Back', :action => 'list' %>
