<h1><%= _("Access denied") %></h1>

<div class="information error">
<p><%= _("Access to this page is restricted.") %></p>
</div>

<%= render :file => "account/login", :use_full_path => true %>

<%= public_link_to_home %>
