<h1>Editing ingenieur</h1>

<% form_tag ingenieur_path(@ingenieur), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', ingenieur_path(@ingenieur) %> |
<%= link_to_back %>
