<h1><%= t(:Index)%></h1>

<% paginated_section(@skills, :create_label => t(:a_skill)) do %>
 <% titles = [ t(:'Skill.Resources')]%>
 <%= show_table(@skills, Skill, titles, :content_columns => true) do |c|
   result = ''
   result << "<td>#{c.engineers.count}</td>"
   result << "#{link_to_actions_table c}"
 end %>
 <%= page_entries_info @skills %><br />
<% end %>
