<h1>Modifier le client <%= @client.nom %> </h1>

<% form_tag client_path(@client), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Voir', client_path(@client) %> |
<%= link_to_back %>
