<h1><%= _('List of the clients') %> <%= StaticPicture::spinner %></h1>

<% options = { :create_label => _("a client"), :url => clients_path } %>
<% paginated_section(@clients, options) do %>
 <% titles = [ _('Logo'), _('Name'), _('Contracts'), _('Access code') ]%>
 <%= show_table(@clients, Client, titles) { |c|
   result = ''
   result <<  (c.picture ? "<td>#{logo_client(c)}</td>" : '<td></td>')
   result << "<td>#{link_to_client(c)}</td>"

   result << '<td>'
     c.contracts.each {|ct|
       result << link_to_contract(ct).to_s << '<br />'
     }
   result << '</td>'

   result << "<td>#{c.access_code}</td>"
   result << "#{link_to_actions_table c}"
 }%>
 <%= page_entries_info @clients %><br />
<% end %>
