<h1><%= t("Add a new client") %></h1>

<% form_tag clients_path, :multipart => true, :id => 'main_form' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag t("Submit") %>
<% end %>

<%= link_to_back %>
