<h1>Liste des correctifs</h1>

<%= show_pages_links(@correctif_pages, 'un correctif') %>

<% titres = ['Màj']%>
<%= show_table(@correctifs, Correctif, titres, :content_columns => true) { |c|
  result = ''
  result << "<td>#{c.updated_on_formatted}</td>"
  result << "#{link_to_actions_table c}"
}%>


<%= show_pages_links(@correctif_pages, 'un correctif') %>

