<% for column in Attachment.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @attachment.send(column.name) %>
</p>
<% end %>

<%= link_to "Download", url_for_file_column(@attachment, "file", :absolute => true) %>

<br /><br />
<%= link_to_edit_and_list @attachment %>
