<%= error_messages_for 'fichier' %>

<!--[form:fichier]-->
<p><label for="fichier_chemin">Chemin</label><br/>
<%= text_field 'fichier', 'chemin'  %></p>

<p><label for="fichier_taille">Taille</label><br/>
<%= text_field 'fichier', 'taille'  %></p>
<!--[eoform:fichier]-->

