<h1><%= @title %><%= StaticImage::spinner %></h1>

<% links = show_pages_links(@demande_pages, 'une nouvelle demande',
                    :url => demandes_url, :no_new_links => true) %>
<%= links %>

<%= render :partial => 'demandes/lists/requests_table' %>

<%= links %>

<p><%= _("You can click here %s to submit a new request.") % link_to_new %></p>
