<% print_mode = (controller.action_name == 'print') %>
<%= render :partial => 'requests/tabs/tab_menu' unless print_mode %>
<% cache("requests/#{@request_id || @request.id}/comments-#{session[:user].kind}") do %>
 <div class="request_tab_content">
  <%= render :partial => 'requests/tabs/comment', :collection => @commentaires %>
 </div>
<% end %>
