<h1>Editing engagement <b style="color:red"> >> migration vers delais en jours</b></h1>

<% form_tag document_path(@engagement), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', document_path(@engagement) %> |
<%= link_to_back %>
