<h1>Editing engagement <b style="color:red"> >> migration vers delais en jours</b></h1>

<%= start_form_tag :action => 'update', :id => @engagement %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @engagement %> |
<%= link_to 'Back', :action => 'list' %>
