<h1>Liste des engagements possible d&#146;un contrat</h1>



<%= show_pages_links(@engagement_pages, 'une possibilité d\'engagement') %>

<%= show_table_engagements @engagements %>

<%= show_pages_links(@engagement_pages, 'une possibilité d\'engagement') %>

