<% for column in Engagement.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= Lstm.time_in_french_words(@engagement.send(column.name).days, true) %>
</p>
<% end %>

<% for contrat in @engagement.contrats %>
  <%= contrat.client.name %> <br />
<% end %>

<%= link_to_edit_and_list(@engagement) %>
