<h1>Editing new</h1>

<% form_tag new_path(@new), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', new_path(@new) %> |
<%= link_to_back %>
