<% for column in New.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @new.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @new %> |
<%= link_to 'Back', :action => 'list' %>
