<h1>Editing commentaire</h1>

<%= start_form_tag :action => 'update', :id => @commentaire %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @commentaire %> |
<%= link_to 'Retour à la liste', :action => 'index' %> |
<%= link_to_demande @commentaire.demande, :text => 'Retour à la demande' %>
