<% for column in Commentaire.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @commentaire.send(column.name) %>
</p>
<% end %>

<%= link_to 'Modifier', :action => 'edit', :id => @commentaire %> |
<%= link_to_demande @commentaire.demande, :text => 'Retour à la demande' %>
