<div id="logiciel">
  <% if @logiciels.size > 1 %>
    <%= select_empty(:request, :logiciel_id, @logiciels) %>
  <% elsif @logiciels.size == 1 %>
    <%# We have a collect [logiciel.name, logiciel.id ] %>
    <%= @logiciels.first.first %>
    <%= hidden_field(:request, :logiciel_id, :value => @logiciels.first.last) %>
  <% end %>

  <% options = PagesHelper::SPINNER_OPTIONS.dup.update(:with =>
      "Form.serializeElements($('request_logiciel_id','request_contract_id'))",
      :url => ajax_display_version_requests_path) %>
  <%= observe_field "request_logiciel_id", options unless @logiciels.empty? %>
</div>
