#####################################################
# Copyright Linagora SA 2006 - Tous droits réservés.#
#####################################################
# Include your application configuration below
ActionMailer::Base.smtp_settings = {
  :address  => "smtp",
  :port  => 25,
  :domain  => 'company.com',
  :dev_mailto => "dev@company.com"

  #:user_name  => "",
  #:password  => "",
#  :authentication  => :login
}
ActionMailer::Base.default_charset = "UTF-8"

# Used to send test emails. Put your own if you intend to develop on TOSCA
module App
  # Used for test on its local computer
  MaintenerEmail = "mloiseleur@linagora.com"
  # Used for feedback on service
  TeamEmail		 = "team@08000linux.com"
  # Used for feedback on this tool
  DeveloppersEmail = "lstm-devel@08000linux.com"
  # Used for jabber notification
  JabberAccount = "tosca@jabber.fr"
  JabberPassword = "tosca"
end
