<tr>
  <th><label for="contrat_tickets_total"><%=_('Total tickets ?')%></label></th>
  <td><%= text_field :contrat, :tickets_total %></td>
</tr>
<tr>
  <th><label for="contrat_ticket_temps"><%=_('Time per ticket ?')%></label></th>
  <td><%= text_field :contrat, :ticket_temps %></td>
</tr>
