<h1>Edition du contrat</h1>

<% form_tag(:action => 'update', :id => @contrat) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @contrat %> |
<%= link_to 'Back', :action => 'index' %>
