<h1><%= _('New contract') %></h1> <%= StaticImage::spinner %>

<% form_tag( contrats_path, :id => 'contrat_form', :name => 'contrat_form' ) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _("Create") %>
<% end %>

<%= link_to_back %>
