<h1><%= _('Modify the document :')%> <%= @document.titre %></h1>

<% form_tag(document_path(@document.id), {:method => :put},
      {:multipart => true}) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Modify') %>
<% end %>
<br />
<%= link_to_show_and_list @document %>
