<h1><%= _('Access to the repository') %></h1>

<%= show_liste(@typedocuments, _('Document type') ) { |t| 
      link_to_typedocument t 
} %>

<%= link_to _('Submit a file'), :action => 'new' %>
<%= link_to_new( _('a file') ) %>
