<h1><%=_('Repository access')%></h1>

<%= show_liste(@typedocuments, _('Document type')) { |t|
      link_to_typedocument t
} %>

<%= link_to _('Submit a file'), new_document_path %>
<%= link_to_new(_('a file')) %>
