<h1>Accès aux dépôts</h1>

<%= show_liste(@typedocuments, _('Document type')) { |t|
      link_to_typedocument t
} %>

<%= link_to 'Déposer un fichier', new_document_path %>
<%= link_to_new('un fichier') %>
