<% for column in Document.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @document.send(column.name) %>
</p>
<% end %>

<p><b><%= _('File :') %></b><%= link_to_file @document, 'fichier' %></p>
<p><b><%= _('Size : ')%></b><%= file_size(@document.fichier) %></p>
<p><b><%= _('Recipient :' ) %></b><%= @document.user.name %></p>
<br />
<p><b><%= _('Updated on : ')%></b><%= @document.updated_on_formatted %></p>
<br />
<%= link_to_edit_and_list @document %>
