<h1><%= _('Editing permission')%></h1>

<% form_tag(permission_path(@permission), :method => :put) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Edit') %>
<% end %>

<%= link_to _('Show'), permission_path(@permission) %> |
<%= link_to_back %>
