<h1><%= _('Editing permission')%></h1>

<% form_tag(permission_path(@permission), :method => :put) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Edit') %>
<% end %>
<br />
<%= link_to_show_and_list @permission %>
