<h1><%= t('Editing permission')%></h1>

<% form_tag(permission_path(@permission), :method => :put, :id => 'main_form') do %>
  <%= render :partial => 'form' %>
  <%= submit_tag t('Edit') %>
<% end %>
<br />
<%= link_to_show_and_list @permission %>
