<h1><%= _('Permission List')%></h1>

<%= show_pages_links(@permission_pages, _('a permission') ) %>

<% titres = [ _('Allow to')]%>
<%= show_table(@permissions, Permission, titres, :content_columns => true) { |p|
  result = ''
  result << "<td>#{p.roles.collect{|r| link_to(r.name, edit_role_path(r.id))}.join(', ')}</td>"
  result << "#{link_to_actions_table p}"
}%>


<%= show_pages_links(@permission_pages, _('a permission') )%>

<%= link_to _('Role list'), roles_path %>
