<h1>Liste des permissions</h1>

<%= show_pages_links(@permission_pages, 'une permission') %>

<% titres = ['Accordée à']%>
<%= show_table(@permissions, Permission, titres, :content_columns => true) { |p|
  result = ''
  result << "<td>#{p.roles.collect{|r| r.nom}.join(',')}</td>"
  result << "#{link_to_actions_table p}"
}%>


<%= show_pages_links(@permission_pages, 'une permission') %>

<%= link_to 'Liste des rôles', :controller => 'roles' %>
