<% for column in Permission.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @permission.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
