<h1><%= _("List of the types for an software url") %></h1>

<%= show_pages_links @typeurl_pages, _("a new type of url") %>

<% titres = []%>
<%= show_table(@typeurls, Typeurl, titres, :content_columns => true) { |m|
  result = ''
  result << "#{link_to_actions_table m}"
}%>

<%= show_pages_links(@typeurl_pages, _("a new url") %>
