<h1>Liste des types possible pour les urls de logiciels</h1>

<%= show_pages_links(@typeurl_pages, 'une nouveau type d\'url') %>

<% titres = []%>
<%= show_table(@typeurls, Typeurl, titres, :content_columns => true) { |m|
  result = ''
  result << "#{link_to_actions_table m}"
}%>

<%= show_pages_links(@typeurl_pages, 'une nouvelle url') %>


