<div class="show">
  <% for column in Typerequest.content_columns %>
  <p>
    <b><%= column.human_name %>:</b> <%= @typerequest.send(column.name) %>
  </p>
  <% end %>
  <br />
  <%= link_to_edit_and_list @typerequest %>
</div>
