#####################################################
# Copyright Linagora SA 2006 - Tous droits réservés.#
#####################################################
# Include your application configuration below
ActionMailer::Base.smtp_settings = {
  :address  => "smtp",
  :port  => 25,
  :domain  => 'company.com',
  :dev_mailto => "dev@company.com"

  #:user_name  => "",
  #:password  => "",
#  :authentication  => :login
}
ActionMailer::Base.default_charset = "UTF-8"

module App
  # Used to send test emails. Put your own if you intend to develop on TOSCA

  # Used for test on its local computer
  MaintenerEmail = "tosca@tosca-project.net"
  # Used for feedback on service
  TeamEmail = "tosca@tosca-project.net"
  # Used for feedback on this tool
  DeveloppersEmail = "tosca@tosca-project.net"
  #From mail, used for outgoing mails
  FromEmail = 'tosca@noreply.tosca-project.net'

  # Used for jabber notification
  JabberAccount = "tosca@tosca-project.net"
  JabberPassword = "tosca"

  # Application
  Name = "TOSCA"
  Version = "0.7.5beta1"
  Copyright = " ©2006-2008 Linagora SA".gsub(' ','&nbsp;')
  FilesPath = File.join RAILS_ROOT, 'files'

  # service
  ServiceName = "Tosca"
  ServiceFullName = "Tosca bugtracking".gsub(' ','&nbsp;')
  # Logos of service, put them in public/image/
  ServiceImage = 'logo_08000.gif'
  ServiceImageSmall = 'logo_08000_small.gif'

  CompanyName = "Linagora"
  CompanySite = "http://www.08000linux.com"
  CompanySitePath = "/tosca"

  # contacts
  PhonePrefix = "08000"
  PhoneCode = "54689"
  PhoneText = "LINUX"

  InternetAddress = "tosca-project.net"

  ContactPhone = PhonePrefix + " " + PhoneCode
  ContactMail = "tosca@tosca-project.com"

  module Help
    NewIssueUrl = "http://redmine.tosca-project.net/wiki/tosca/NewIssue"
    LifeCycleUrl = "http://redmine.tosca-project.net/wiki/tosca/LifeCycle"
    IssueStatusUrl = "http://redmine.tosca-project.net/wiki/tosca/IssueStatus"
    IssueSeverityUrl = "http://redmine.tosca-project.net/wiki/tosca/IssueSeverity"
  end

end
