<h1><%= _('Alert on submit') %><%= StaticPicture::spinner %></h1>

<div id="status">
  <%= render :partial => 'ajax_on_submit' %>
</div>
<% url = { :action => :ajax_on_submit, :hash => params[:hash] } %>
<% options = { :url => url, :frequence => 30, :update =>
    'status',  :before => "Element.show('spinner')",
               :success => "Element.hide('spinner')" } %>
<%= periodically_call_remote(options) %>
