<p>Binaires résultants :</p>
<% if @contribution %>
  <%= hbtm_check_box( @contribution.binaires, @binaires, 'contribution[binaire_ids]') %>
<% else %>
  <%= hbtm_check_box( [], @binaires, 'contribution[binaire_ids]') %>
<% end %>
