<% if @contribution %>
  <% paquets, binaires = @contribution.paquets, @contribution.binaires %>
<% else %>
  <% paquets, binaires = [], [] %>
<% end %>
<p>Paquets sur lesquels il a été appliqué :</p>
<%= hbtm_check_box( paquets, @paquets, 'contribution[paquet_ids]', :size => 3) %>
<p>Binaires résultants :</p>
<%= hbtm_check_box( binaires, @binaires, 'contribution[binaire_ids]', :size => 3) %>
