<p><label for="contribution_fixed_version_id"><%=_('Fixed version')%></label><br />
<%= select_empty(:contribution, :fixed_version_id, @versions) %></p>

<p><label for="contribution_affected_version_id"><%=_('Affected version')%></label><br />
<%= select_empty(:contribution, :affected_version_id, @versions) %></p>
