<% if @contribution %>
  <% versions, binaires = @contribution.versions, @contribution.binaires %>
<% else %>
  <% versions, binaires = [], [] %>
<% end %>
<p><%=_('Source packages with the patch')%> :</p>
<%= hbtm_check_box( versions, @versions, 'contribution[version_ids]', :size => 3) %>
<% if false  #désactivé pour l'instant. on verra plus tard. TODO : voir plus tard%>
<p><%=_('Binary packages with the patch')%> :</p>
<%= hbtm_check_box( binaires, @binaires, 'contribution[binaire_ids]', :size => 3) %>
<% end %>
