<h1>Editer une contribution</h1>

<% action = { :action => 'update', :id => @contribution } %>
<% form_tag(action, :multipart => true ) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Enregistrer' %>
<% end %>

<%= link_to 'Voir', :action => 'show', :id => @contribution %> |
<%= link_to 'Retour à la liste', :action => 'list' %>
