<h1><%= t('Edit this contribution') %></h1>

<% form_tag(contribution_path(@contribution),
      :multipart => true, :method => :put, :id => 'main_form' ) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag t('Validate') %>
<% end %>

<%= link_to_show_and_list(@contribution) %>
