<h1>Liste des contributions à <%= @logiciel.nom %></h1>

<%= render :partial => 'contribution', :collection => @contributions %>

Déposer une contribution <%= link_to_new('contribution', :controller => 'correctifs') %>
<%= link_to_back %>
