<%= link_to 'Accueil', :action => 'list', :controller => 'bienvenue'%> > <%= link_to 'Contributions', :action => 'select', :id => nil %> > <%= @logiciel ? @logiciel.nom : 'Tous' %></h1>

<% @contributions.each do |contribution| %>
  <h2>
   <%= link_to_edit(contribution) %>   
   <%= link_to contribution.nom, :action => 'show', :id => contribution.id %>
  </h2>
  <%= contribution.synthese.to_s + '<br />' %>
<% end %>

<%= link_to_new('contribution') %><br/><br/>
<%= link_to_back %>
