<h1>Ajouter une nouvelle contribution</h1>

<%= start_form_tag({:action => 'create'}, :multipart => true) %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Ajouter" %>
<%= end_form_tag %>

<%= link_to_back %>
