<h1>Accès aux contributions</h1>

<%= show_liste(@logiciels, 'Logiciels') { |l| 
  out = ''
  out << "#{link_to l.nom, :controller => 'contributions', :action => 'list', :id => l.id}" 
  out << " (#{l.contributions.size}) "
} %>

Déposer une contribution <%= link_to_new('contribution') %>
