<h1><%=_('List of calls')%> <%= StaticImage::spinner %></h1>

<% options = { :create_label => _('a call'), :remote_url => phonecalls_path } %>
<% paginated_section(@phonecalls, options) do %>
 <% titles = [_('Contract'),_('Interlocutor'),_('Recipient'),_('Call'),
    _('End of call'),_('Duration') ] %>
 <%= show_table(@phonecalls, Phonecall, titles) do |p|
   result = ''
   result << "<td>#{p.contract.name if p.contract}</td>"
   result << "<td>#{p.engineer.name if p.engineer}</td>"
   result << "<td>#{p.recipient ? p.recipient.name : '-' }</td>"
   result << "<td>#{p.start_formatted}</td>"
   result << "<td>#{p.end_formatted}</td>"
   result << "<td>#{Time.in_words(p.length)}</td>"
   result << "#{link_to_actions_table p}"
 end %>
 <%= page_entries_info @phonecalls %><br />
<% end %>
