<h1>Editing conteneur</h1>

<% form_tag conteneurs_path(@conteneur), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', conteneurs_path(@conteneur) %> |
<%= link_to_back %>
