<h1>Liste des systèmes de paquets</h1>

<%= show_pages_links(@conteneur_pages, 'un système de paquet') %>

<% titres = []%>
<%= show_table(@conteneurs, Conteneur, titres, :content_columns => true) { |c|
  result = ''
  result << "#{link_to_actions_table c}"
}%>


<%= show_pages_links(@conteneur_pages, 'un système de paquet') %>

