<% for column in Conteneur.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @conteneur.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @conteneur %> |
<%= link_to 'Back', :action => 'list' %>
