<% for column in Conteneur.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @conteneur.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', edit_conteneur_path(@conteneur) %> |
<%= link_to 'Back', conteneurs_path %>
