<% for column in Contributiontype.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @contributiontype.send(column.name) %>
</p>
<% end %>

<%= link_to t("Edit"), edit_contributiontype_path(@contributiontype) %> |
<%= link_to t("Back"), contributiontypes_path %>
