<h1><%= t('Editing tag')%></h1>

<% form_tag tag_path(@tag), :method => :put, :id => "main_form" do %>
  <%= render :partial => 'form' %>
  <%= submit_tag t('Edit') %>
<% end %>

<br />
<%= link_to_show_and_list @tag %>
