<div id='issue_tab_content' class='issue_tab_content'>
 <%= link_to_add_call @issue_id || @issue.id %><br />
 <% titles = [_("Contract"), _("Owner"), _("Recipient"), _("Phone call"),
     _("End of phonecall"), _("Duration")] %>
 <%= show_table(@phonecalls, Phonecall, titles) { |a|
  result = ''
  result << "<td>#{a.contract.name}</td>"
  result << "<td>#{a.engineer.name if a.engineer}</td>"
  result << "<td>#{a.recipient ? a.recipient.name : '-' }</td>"
  result << "<td>#{a.start_formatted}</td>"
  result << "<td>#{a.end_formatted}</td>"
  result << "<td>#{Time.in_words(a.length)}</td>"
  result << "#{link_to_call a}"
 }%>
</div>
