<%= error_messages_for 'statut' %>

<!--[form:statut]-->
<p><label for="statut_nom">Nom</label><br/>
<%= text_field 'statut', 'nom'  %></p>

<p><label for="statut_description">Description</label><br/>
<%= text_area 'statut', 'description'  %></p>
<!--[eoform:statut]-->

