<h1>_('Editing statut')</h1>

<% form_tag statut_path(@statut), :method => :put %>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Validate') %>
<% end %>

<%= link_to_show_and_list(@statut) %>
