<% for column in Statut.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= indent @statut.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @statut %> |
<%= link_to 'Back', :action => 'list' %>
