@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
 * (en) stylesheet for screen layout
 *
 * @creator     YAML Builder V1.0.2b (http://builder.yaml.de)
 * @file        basemod.css
 */

@media screen, projection
{
  /*-------------------------------------------------------------------------*/

  /* (en) Marginal areas & page background */
  body { background: #484848 none; padding: 10px 0; font-family: 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;}

  /* Layout Alignment | Layout-Ausrichtung */
  #page_margins { margin: 0 auto; }

  /* Layout Properties | Layout-Eigenschaften */
  #page_margins { width: auto;  min-width: 740px; max-width: 100%; background: #484848; }
  #page { padding: 0; }
  #header { 
    padding: 45px 2em 1em 20px; 
    color: #000; 
    background: transparent url("../../images/banner-bg.png") repeat-x;
    display: none;
  }
  #topnav { color: #aaa; background: transparent; }
  #nav { overflow:hidden; }
  #nav_main {  }
  #main { margin: 0; background: #484848; }
  #teaser { clear:both; padding: 0 20px; margin: 10px 0; }
  #footer { 
    padding: 10px 20px; 
    color:#fff; 
    background: #484848; 
    text-align: center;
  }
  /* (en) navigation: horizontal adjustment | (de) horizontale Ausrichtung  */
  #nav ul { margin-left: 20px; }

  /*-------------------------------------------------------------------------*/

  /**
   * (en) Formatting content container
   * (de) Formatierung der Inhalts-Container
   *
   */

  #col1 { float: left; width: 99% }
  #col2 { display:none }
  #col3 { width: auto; margin: 0 0 0 75% }
  #col1_content { 
    background-color: #fff;
    margin: 10px 0 0 10px;
    padding: 0 10px;
  }
  #col3_content { 
    background-color: #484848;
    padding: 50px 15px 0;
    margin: 0;
  }

}
