<h1><%= t(:versions_index) %> <%=StaticPicture::spinner%></h1>

<% options = { :create_label => t(:a_version), :remote_url => versions_path } %>
<% paginated_section(@versions, options) do %>
 <% titles = [ t('Software'), t("Versions")] %>
 <%= show_table(@versions, Version, titles) { |v|
   result = ''
   result << "<td>#{link_to v.software, software_path(v.software)}</td>"
   result << "<td>#{v.name}</td>"
   result << "#{link_to_actions_table v}"
 }%>
 <%= page_entries_info @versions %><br />
<% end %>
