<h1>Editing mainteneur</h1>

<% form_tag mainteneur_path(@mainteneur), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', mainteneur_path(@mainteneur) %> |
<%= link_to_back %>
