<h1>Liste des mainteneurs de paquets</h1>


<%= show_pages_links(@mainteneur_pages, 'un mainteneur') %>

<% titres = []%>
<%= show_table(@mainteneurs, Mainteneur, titres, :content_columns => true) { |m|
  result = ''
  result << "#{link_to_actions_table m}"
}%>

<%= show_pages_links(@mainteneur_pages, 'un mainteneur') %>


