<% for column in Mainteneur.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @mainteneur.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @mainteneur %> |
<%= link_to 'Back', :action => 'list' %>
