<h1><%= @title %> <%= StaticPicture::spinner %></h1>

<% paginated_section(@softwares, :create_label => _('a new software'), :remote_url => softwares_path) do %>
 <% titles = [ _('Logo'), _('Name'), _('Description'),
               _('Technologie(s)'), _('Group') ] %>
 <%= show_table(@softwares, Software, titles) { |l|
   result = "<td>#{software_logo l}</td>"
   result << "<td>#{public_link_to l.name, software_path(l)}</td>"
   result << "<td>#{l.summary}</td>"
   result << "<td>#{liste_skills l.skills}</td>"
   result << "<td>#{l.group.name if l.group}</td>"
   result << "#{link_to_actions_table l}"
 }%>
 <%= page_entries_info @softwares %><br />
<% end %>
