<h1><%=t('Editing a commitment')%></h1>

<% form_tag commitment_path(@commitment), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag t('Validate') %>
<% end %>

<%= link_to_show_and_list(@commitment) %>
