<h1><%= _("List of the possible contractual commitments of a contract") %></h1>

<%= show_pages_links(@commitment_pages, _('a possible commitment')) %>

<%= show_table_commitments @commitments %>

<%= show_pages_links(@commitment_pages, _('a possible commitment')) %>
