<h1><%= _("List of the possible contractual commitments of a contract") %></h1>


<% paginated_section(@commitments, :create_label => _('a possible commitment')) do  %>
  <%= show_table_commitments @commitments %>
  <%= page_entries_info @commitments %><br />
<% end %>
