<h1><%= @title %> <%= StaticImage::spinner %></h1>

<%= calendar_weekly(@start_date, :start_time => 8, :end_time => 19) do |time|
  key = "#{time.day}_#{time.hour}_#{time.min*30/30}"
  result = ""
  if @issues.has_key? key
    if @issues[key].has_key? :new_issues
      result << '['
      res = []
      @issues[key][:new_issues].each do |i|
        res.push link_to_css_issue(i, 'new_issue')
      end
      result << res.join(', ')
      result << ']'
    end

    if @issues[key].has_key? :updated_issues
      result << '['
      res = []
      @issues[key][:updated_issues].each do |i|
        res.push link_to_css_issue(i, 'updated_issue')
      end
      result << res.join(', ')
      result << ']'
    end
  end
  result
end
%>
