
<p>Le présent rapport rend compte de l'exécution du service depuis le
<%= @report[:middle_date].strftime('%d %B %Y') %> jusqu&#146;au 
<%= @report[:end_date].strftime('%d %B %Y') %> inclus (soit <%= @report[:middle_report] %> mois).</p>
