
<h2>TODO (!)</h2>
<ul>
  <li>Utiliser plus de CSS et moins de tableaux, c est moche</li>
  <li>Trouver des joulis couleurs, notamment virer le violet</li>
  <li>Voir si les tab4leaux centrés sont plus jolis que les tableaux alignés à gauche.</li>
  <li>Trouver un moyen de faire un cache, tant pour les images que pour les pages</li>
  <li>Implémenter la spec quand elle sera validée.</li>
  <li>Faire un blabla d&#146;explication, notamment sur le concept encours/terminées</li>
</ul>
