<div class="show">
  <% form_tag general_reporting_path, :method => :get, :id => 'main_form' do %>
    <%= render :partial => 'form' %><br />
    <%= submit_tag t(:validate_report), :class => 'primary' %>
  <% end %>
</div>
