
<div class="show">
  <% form_tag general_reporting_path, :method => :get, :id => 'main_form' do %>
  <%= render :partial => 'form' %><br />
  <input type="submit" value="Valider &#187;" class="primary" />
<% end %>

</div>
