<%= error_messages_for 'ossa' %>

<!--[form:ossa]-->
<p><label for="ossa_name"><%=_('Ossa|Name')%></label><br/>
<%= text_field 'ossa', 'name'  %></p>

<p><label for="ossa_max"><%=_('Maximum number of components')%></label><br/>
<%= text_field 'ossa', 'max'  %></p>
<!--[eoform:ossa]-->
