<h1>Ajouter un reversement</h1>

<p>Cette vue est "deprecated" : veuillez <%= link_to 'ajouter une interaction', :controller => 'interactions', :action => 'new' %></p>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
