<h1><%= _("List of the types of issues") %></h1>

<% titles = [] %>
<%= show_table(@issuetypes, Issuetype, titles, :content_columns => true) { |m|
  result = ''
  result << "#{link_to_actions_table m}"
}%>
