<div class="show">
  <% for column in Issuetype.content_columns %>
  <p>
    <b><%= column.human_name %>:</b> <%= @issuetype.send(column.name) %>
  </p>
  <% end %>
  <br />
  <%= link_to_edit_and_list @issuetype %>
</div>
