<h1>Modification de la livraison du binaire</h1>

<% form_tag(binaire_path(@binaire), :method => :put, :multipart => true) do%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', binaire_path(@binaire) %> |
<%= link_to_back %>
