<h1>Modification de la livraison du binaire</h1>

<%= start_form_tag({:action => 'update', :id => @binaire}, :multipart => true)%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @binaire %> |
<%= link_to 'Back', :action => 'list' %>
