<h1><%=_('Edition of this binary')%></h1>

<% form_tag(binaire_path(@binaire), :method => :put, :multipart => true) do%>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Validate') %>
<% end %>

<%= link_to_show_and_list(@binaire) %> 

