<h1><%=_('List of binary packages')%></h1>

<% links = show_pages_links(@binaire_pages, _('a binary archive')) %>
<%= links %>

<% titres = [_('Source'),_('Binary'),_('System'),_('Arch'),_('Archive')] %>
<% old_paquet = nil %>
<%= show_table(@binaires, Binaire, titres) { |b|
  result = ''
  if old_paquet != b.paquet
    result << "<td>#{link_to_paquet(b.paquet)}</td>"
    old_paquet = b.paquet
  else
    result << '<td></td>'
  end

  result << "<td>#{link_to_binaire(b)}</td>"
  result << "<td>#{b.socle.name if b.socle}</td>"
  result << "<td>#{b.arch.name if b.arch}</td>"
  result << "<td>#{link_to_file(b, 'archive') if b.archive}</td>"
  result << "#{link_to_actions_table b}"
}%>

<%= links %>
