<%= error_messages_for 'etatreversement' %>

<!--[form:etatreversement]-->
<p><label for="etatreversement_nom">Nom</label><br/>
<%= text_field 'etatreversement', 'nom'  %></p>

<p><label for="etatreversement_description">Description</label><br/>
<%= text_area 'etatreversement', 'description'  %></p>
<!--[eoform:etatreversement]-->

