<h1>Listing etatreversements</h1>


<% paginated_section(@etatreversements, :create_label => _('a new state')) do %>
 <table>
  <tr>
  <% for column in Etatreversement.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>

  <% for etatreversement in @etatreversements %>
   <tr>
   <% for column in Etatreversement.content_columns %>
     <td><%= etatreversement.send(column.name) %></td>
   <% end %>
     <%= link_to_actions_table etatreversement %>
   </tr>
  <% end %>
 </table>
 <%= page_entries_info @etatreversements %><br />
<% end %>

<br />
