<% for column in Etatreversement.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @etatreversement.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @etatreversement %> |
<%= link_to 'Back', :action => 'list' %>
