<h1><%= t("Editing an image") %></h1>

<% form_tag(picture_path(@picture), {:method => :put, :multipart => true}) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag t("Edit") %>
<% end %>

<%= link_to_show_and_list(picture_path(@picture)) %>

