<h1><%= t('Edit a rule') %></h1>

<% form_tag(role_path(@role), :method => :put) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag t('Submit') %>
<% end %>

<%= link_to_show_and_list(@role) %>
