<h1>Editer un rôle</h1>

<%= start_form_tag :action => 'update', :id => @role %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to_view(@role) %> |
<%= link_to_back() %>
