<h1><%= _('Edit a role')%></h1>

<% form_tag(role_path(@role), :method => :put) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Validate') %>
<% end %>

<%= link_to_show_and_list(@role) %>
