<% for column in Appel.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @appel.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @appel %> |
<%= link_to 'Back', :action => 'list' %>
