<%= error_messages_for 'fournisseur' %>

<!--[form:fournisseur]-->
<p><label for="fournisseur_name"><%=_('Fournisseur|Name')%></label><br />
<%= text_field 'fournisseur', 'name'  %></p>
<!--[eoform:fournisseur]-->

