<fieldset>
 <legend><%= Contrat::Ossa %></legend>
<table>
 <tr>
  <th><label for="contrat_astreinte"><%=_('Night guard ?')%></label></th>
  <td><%= check_box :contrat, :astreinte %></td>
 </tr><tr>
  <th><label for="contrat_socle"><%=_('Entire system ?')%></label></th>
  <td><%= check_box :contrat, :socle %></td>
 </tr>
</table>
</fieldset>
