<h1><%=_('List of archive')%></h1>

<% links = show_pages_links(@archive_pages, _('an archive')) %>
<%= links %>

<% titles = [ _('Archive'), _('Size'), _('Release') ] %>

<%= show_table(@archives, Archive, titles) { |a|
  result = ''
  result << "<td>#{link_to_archive(a)}</td>"
  result << "<td>#{number_to_human_size(a.size)}</td>"
  result << "<td>#{link_to_release(a.release)}</td>"
  result << "#{link_to_actions_table a}"
}%>

<%= links %>
