<h1><%=t('New archive')%></h1>

<% form_tag(archives_path, :multipart => true, :id => 'main_form') do %>
  <%= render :partial => 'form' %>
  <%= submit_tag t('Validate') %>
<% end %>

<%= link_to_back %>
