<small>

  <%= link_to '"Comment déclarer une demande"', 
      :action => 'declaration' if controller.action_name == 'deroulement'  %>

  <br/>
  <br/>

  <%= link_to 'statut', :action => 'statuts' %> |
  <%= link_to 'sévérité', :action => 'severites' %> |
  <%= link_to 'Rappel sur nos engagement', :action => 'engagements' %> <br/>


  <%= link_to '"Comment se passe le traitement d\'une demande ?"', 
      :action => 'deroulement' if controller.action_name != 'deroulement'  %>

</small>
