<small>

  <%= link_to _('"How to submit a request ?"'), 
      declaration_bienvenue_path if controller.action_name == 'deroulement'  %>

  <br/>
  <br/>

  <%= link_to _('status'), statuts_bienvenue_path %> |
  <%= link_to _('severity'), severites_bienvenue_path %> |
  <%= link_to _('recall on our commitment'), engagements_bienvenue_path %> <br/>

  <%= link_to '"How are the request processing ?"',
      deroulement_bienvenue_path if controller.action_name != 'deroulement'  %>

</small>
