<table class="sommaire"><tr><td>
 <div class="sommaire show">
  <h1><%= _('About') << " #{Metadata::NOM_COURT_APPLICATION} v#{Metadata::VERSION_APPLICATION}" %></h1>

  <p><%= _('This application was created by <b>Michel Loiseleur</b> at ')%>
      <a href="http://www.linagora.com">Linagora</a></p>
      <p><%= _('This journey would not have been possible whithout the <b>contributors</b> who have taken part to this project,
      without the testers who have contributed to it quality and without quite a few <b>free softwares</b>
      which have enable the development to be fast and agile. They are all thanks here warmly. ') <<
      Metadata::NOM_COURT_APPLICATION << _(' would be nothing without them.') %></p>
 </div>
 <div class="sommaire show">
   <h2><%= _('contributors')%></h2>
  <ul>
    <li>Sébastien Bahloul</li>
    <li>Guillaume Dufloux</li>
    <li>Rémy-Christophe Schermesser</li>
    <li>Adrien Grellier</li>
    <li>Munteanu Olimpiu Andrei</li>
  </ul>
 </div></td>
 <td><div class="sommaire show">
     <h2><%= _('Testers') %></h2>
  <ul>
    <li>Richard Samson</li>
    <li>Jonathan Clarke</li>
    <li>Philippe Brière</li>
  </ul>
 </div><div class="sommaire show">
  <h2><%= _('Free software used by %s') % Metadata::NOM_COURT_APPLICATION %></h2>
  <ul>
    <li><a href="http://www.ruby-lang.org">Ruby</a></li>
      <ul>
        <li><a href="http://www.yotabanana.com/hiki/ruby-gettext.html">Ruby-GetText</a></li>
        <li><a href="http://fastercsv.rubyforge.org">FasterCSV</a></li>
      </ul>
    <li><a href="http://www.rubyonrails.org">Ruby on Rails</a></li>
      <ul>
        <li><a href="http://wiki.rubyonrails.org/rails/pages/LoginGenerator">Login generator</a></li>
        <li><a href="http://www.kanthak.net/opensource/file_column">FileColumn</a></li>
        <li><a href="http://nubyonrails.com/pages/gruff">Gruff</a></li>
        <li><a href="http://wiki.rubyonrails.com/rails/pages/ActsAsVersioned">Acts as versioned</a></li>
        <li><a href="http://wiki.rubyonrails.org/rails/pages/HowToUseTinyMCE">TinyMCE</a></li>
        <li><a href="http://garbageburrito.com/blog/entry/89">TinyMCE GZip Compressor</a></li>
        <li><a href="http://www.craigambrose.com/projects/redbox">RedBox</a><li>
        <li><a href="http://gettextlocalize.rubyforge.org/">GetText-Localize</a></li>
      </ul>
    <li><a href="http://www.mysql.com">MySQL</a></li>
    <li><a href="http://httpd.apache.org/">Apache</a></li>
    <li><a href="http://tinymce.moxiecode.com">TinyMCE</a></li>
  </ul>
 </div></td>
</tr></table>
