<h1><%= _('How are the request processing')%></h2>
<br />
<br />

<%= _('[Scheme with the arrows]')%><br />
<br />
<br />


<%= link_to _('commitment'), engagements_bienvenue_path %><br />

<br />
<br />

<%= render :partial => 'liens_deroulement' %>



