<h1>Comment se passe le traitement d&#146;une demande</h1>
<br />
<br />

[Shéma avec les fléches] <br />

<br />
<br />


<%= link_to 'engagements', :action => 'engagements' %><br />

<br />
<br />

<%= render :partial => 'liens_deroulement' %>



