<h1><%= _('Request type')%></h1>
<br />
<br />

<p><b><%= _('Request type list :') </b></p>

<table>
<% for typedemande in @typedemandes %>
  <tr>
  <% for column in Typedemande.content_columns %>
    <td><%=h typedemande.send(column.name) %></td>
  <% end %>
  </tr>
<% end %>
</table>

<br />
<br />

<%= render :partial => 'liens_declaration' %>
