<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">test</td></tr>
</thead><tbody>

<%  ############ création du test sélénium  ##############  %>
<%  # généré grâce aux dépendances pour tous les controllers %>
   
<% @classes.each { |ca|
     c = ca[1]
     cname = c.controller_name %>

     <% # on prend maintenant chacune de ses actions  %>
     <% user = session[:user] %>
     <% c.public_instance_methods(false).sort.each do |action|
         next if action =~ /^(index|selenium|logout|auto_complete_for)/ %>
       <% # et on link sous réserve d'autorisation  %>
       <% short_url = cname + '/' + action %>
       <% if user.authorized?(short_url)%>
<tr>
	<td>open</td>
        <td>/lstm/<%=short_url%></td>
        <td></td>
</tr> 
<tr>
	<td>assertLstmTextNotPresent</td>
	<td>Informez-nous de cette anomalie</td>
	<td></td>
</tr>
          <% end %>
     <% end %>

<%  } # fin de la boucle sur les controllers %>
</table>
</body>
</html>
