<%= error_messages_for 'distributeur' %>

<!--[form:distributeur]-->
<p><label for="distributeur_name"><%=_('Distributeur|Name')%></label><br />
<%= text_field 'distributeur', 'name'  %></p>
<!--[eoform:distributeur]-->

