<h1>Editing distributeur</h1>

<%= start_form_tag :action => 'update', :id => @distributeur %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @distributeur %> |
<%= link_to 'Back', :action => 'index' %>
