<h1>Editing distributeur</h1>

<% form_tag(distributeur_url(@distributeur), :method => :put) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @distributeur %> |
<%= link_to 'Back', :action => 'index' %>
