<h1>Editing distributeur</h1>

<% form_tag(distributeur_path(@distributeur), :method => :put) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', distributeur_path(@distributeur) %> |
<%= link_to_back %>
