<h1>Liste des distributeurs</h1>

<%= show_pages_links(@distributeur_pages, 'un distributeur') %>

<% titres = ['']%>
<%= show_table(@distributeurs, Distributeur, titres, :content_columns => true) { |c|
  result = ''
  result << "#{link_to_actions_table c}"
}%>


<%= show_pages_links(@distributeur_pages, 'un distributeur') %>



