<% for column in Distributeur.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @distributeur.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @distributeur %> |
<%= link_to 'Back', :action => 'list' %>
