<%= error_messages_for 'photo' %>

<!--[form:photo]-->
<p><label for="photo_image">Image</label><br/>
<%= file_column_field 'photo', 'image'  %></p>

<p><label for="photo_description">Description</label><br/>
<%= text_field 'photo', 'description'  %></p>
<!--[eoform:photo]-->

