<% for column in Photo.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @photo.send(column.name) %>
</p>
<% end %>
<%= image_tag url_for_file_column("photo", "image", "thumb") %><br />
<%= image_tag url_for_file_column("photo", "image", "medium") %><br />
<%= image_tag url_for_file_column("photo", "image") %><br />

<%= link_to 'Edit', :action => 'edit', :id => @photo %> |
<%= link_to 'Back', :action => 'list' %>
