<%
  id = "issue_#{@issue.id}_tag_#{tag.name.downcase}"
  success = update_page do |page|
    page.hide 'spinner'
    page.visual_effect :fade, id, :duration => 0.5
    page.delay(0.5) do
      page.remove id
    end
  end
  options = { :url => ajax_untag_issue_url(@issue),
   :method => :delete, :with => "'tag_name=#{tag.name}'",
   :before => "Element.show('spinner')",
   :success => success } %>
<li id="<%=id%>"><%= tag.full_name %> <%= link_to_remote StaticImage::delete, options %></li>