<%= error_messages_for 'piecejointe' %>

<!--[form:piecejointe]-->

<p><label for="piecejointe_file">File</label><br />
<%= file_column_field 'piecejointe', 'file'  %></p>

<!--[eoform:piecejointe]-->

