<html>
<head>
  <% @@head_uv ||= stylesheet_link_tag("syntax/" << @pj.file_options[:uv][:theme] << ".css") %>
  <%= @@head_uv %>
  <meta http-equiv="Content-Type" content="text/html; <%= @pj.file_charset %>"/>
</head>
  <body>
    <% #The ../../ are mandatory beacuse we are in the templates directory and not in RAILS_ROOT %>
    <%=  File.read(path_to_uv(@pj, :file)) %>
  </body>
</html>
