<html>
<head>
  <%= stylesheet_link_tag("syntax/blackboard.css") %>
  <meta http-equiv="Content-Type" content="text/html; <%= @pj.file_charset %>"/>
</head>
  <body>
    <%= render :file => "../../files/piecejointe/" + relative_url_uv(@pj, :file), :use_full_path => true %>
  </body>
</html>
