<h1><%= _('Editing attachment') %></h1>

<% form_tag piecejointe_path(@piecejointe), {:method => :put}, {:multipart => true} do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to_show_and_list @piecejointe %>
