<h1>Editing piecejointe</h1>

<% form_tag piecejointe_path(@piecejointe), {:method => :put}, {:multipart => true} do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', piecejointe_path(@piecejointe) %> |
<%= link_to_back %>
