<% for column in Piecejointe.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @piecejointe.send(column.name) %>
</p>
<% end %>

 <%= link_to "Download", url_for_file_column(@piecejointe, "file", :absolute => true) %>


<%= link_to 'Edit', edit_piecejointe_path(@piecejointe) %> |
<%= link_to 'Back', piecejointes_path %>
