<h1>Editing support</h1>

<% form_tag support_path(@support), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', support_path(@support) %> |
<%= link_to_back %>
