<h1>Liste des offres de supports vendus</h1>

<%= show_pages_links(@support_pages, 'une nouveau type d\'url') %>

<% titres = []%>
<%= show_table(@supports, Support, titres, :content_columns => true) { |m|
  result = ''
  result << "#{link_to_actions_table m}"
}%>

<%= show_pages_links(@support_pages, 'une nouvelle url') %>


