<% for column in Support.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @support.send(column.name) %>
</p>
<% end %>





<%= link_to 'Edit', edit_support_path(@support) %> |
<%= link_to 'Back', supports_path %>
