<% for column in Support.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @support.send(column.name) %>
</p>
<% end %>

  



<%= link_to 'Edit', :action => 'edit', :id => @support %> |
<%= link_to 'Back', :action => 'index' %>
