<div class="subcolumns">
  <div class="c50l">
    <%= render :partial => "edit_account_informations" %>
  </div>
  <%# do not display this part to customer, for now %>
  <% if @session_user.engineer? %>
   <div class="c50r" id="place">
    <%= render :partial => "edit_engineer" %>
    <%= render :partial => "edit_recipient" %>
   </div>
  <% end %>
</div>