<% if @user_recipient %>

<div title="<%= _("Show an account") %>" class="show">
<h1><b><%= _('Recipient') %></b></h1><br/>
<ul>
  <% @user.contracts.each do |c| %>
    <li><%= c.name %></li>
  <% end %>
</ul>
<%= form_become(@user) %>
</div>

<% end %>
