<% if @user.recipient? %>

<div title="<%= t("Show an account") %>" class="show">
<h1><b><%= t('Recipient') %></b></h1><br/>
<ul>
  <% @user.contracts.each do |c| %>
    <li><%= c.name %></li>
  <% end %>
</ul>
<%= form_become(@user) %>
</div>

<% end %>
