
<% if @beneficiaire %>

<div title="<%= _("Show an account") %>" id="showform" class="form">

<h1><b><%= _('Recipient') %></b></h1><br />

<p><b>Client :</b> <%= @beneficiaire.client.nom %></p>

</div>

<% end %>


