<%= error_messages_for 'identifiant' %><br />

<% form_tag(account_path(@identifiant), :method => :put) do %>

  <%= render :partial => "edit" %>

  <%= submit_tag _('Validate') %>
<% end %>

<br />
<%= link_to_back %>
