<% form_tag forgotten_password_accounts_path, :id => 'main_form' do %>
 <table class="show">
  <tr>
    <th colspan="2"><h1><%= _('Forgotten password') %></h1></th>
  </tr><tr>
    <th><label for="user_login"><%= _('Login')%> :</label></th>
    <td><input type="text" name="user[login]" id="user_login" size="36" value="" /></td>
  </tr><tr>
    <th><label for="user_email"><%= _('Email')%> :</label></th>
    <td><input type="text" name="user[email]" id="user_email" size="36" value="" /></td>
  </tr><tr>
    <td colspan="2"><div style="text-align: right">
        <input type="submit" name="login" value="<%=_('Send me a new password')%> &#187;" />
    </div></td>
  </tr>
 </table>
<% end %>
