<h1>Bienvenue !</h1>

<ul>
 <% env = request.env.sort{|a, b| a.first <=> b.first } %>
 <% env.each_with_index do |item, index| %>
   <li><b><%=h item.first %> </b>: <%=h item.last %></li>
 <% end %>
</ul>