
<div title="Account modify" id="modifyform" class="form">

<% compte = ( session[:user].id == @identifiant.id ? 'mon compte' : 
              "le compte de #{@identifiant.nom}" ) %>


<h1>Modifier <%= compte %></h1>
<%= start_form_tag :action=> "modify" %>
  <%= render :partial => 'form' %>
<%= end_form_tag %>
</div>

<br/>
<%= link_to_back 'Retour à la liste des comptes' %>
