
<div title="Account modify" id="modifyform" class="form">

<h1>Modifier mon compte</h1>
<%= start_form_tag :action=> "modify" %>
  <%= render :partial => 'form' %>
<%= end_form_tag %>
</div>

<br/>
<%= link_to_back 'Retour à la liste des comptes' %>
