<%= error_messages_for 'identifiant' %><br />
<div title="Account modify" id="modifyform">
<% form_tag :action=> "modify" do %>
  <%= render :partial => "edit" %>
<% end %>
</div>

<br/>
<%= link_to_back 'Retour à la liste des comptes' %>
