<%= error_messages_for 'identifiant' %><br />
<div title="Account multiple signup" id="multiple_signupform" >
<% form_tag :action=> "multiple_signup" do %>
  <%= render :partial => "edit" %>
<% end %>
</div>
