<%= error_messages_for 'identifiant' %><br />
<div title="Account multiple signup" id="multiple_signupform" >
<% form_tag multiple_signup_new_account_path do %>
  <%= render :partial => "edit" %>
<% end %>
</div>
