<%= error_messages_for 'identifiant' %><br />
<div title="Account multiple signup" id="multiple_signupform" class="form">
<%= start_form_tag :action=> "multiple_signup" %>
  <%= render :partial => "edit" %>
<%= end_form_tag %>
</div>
