<%= error_messages_for 'identifiant' %><br />

<% compte = ( session[:user].id == @identifiant.id ? _('My account') :
              _('Account of %s') % @identifiant.nom ) %>

<h1><%= compte %></h1>

<table border="0">
<tr>
<td>

<%= render :partial => "show_account_information" %>

</td>
<td>

<%= render :partial => "show_engineer" %>

<%= render :partial => "show_recipient" %>

</td>
</tr>
</table>

<br/>

<%= link_to_edit_and_list(@identifiant) %>

