<%= error_messages_for 'identifiant' %><br />
<div title="Account signup" id="signupform" class="form">
<%= start_form_tag :action=> "signup" %>
  <%= render :partial => "edit" %>
<%= end_form_tag %>
</div>
