<%= error_messages_for 'identifiant' %><br />
<div title="Account signup" id="signupform" >
<% form_tag signup_new_account_path do %>
  <%= render :partial => "edit" %>
  <%= submit_tag _('Validate') %>
<% end %>
</div>
