
<div class="memo">
    <h1>Bienvenue <%= @session[:user].nom %></h1>

    <p>Vous &ecirc;tes maintenant connect&eacute;</p>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <p><%= link_to "Accueil", :controller=>"bienvenue", :action => 'list' %></p>
    <p><%= link_to "Se déconnecter", :controller=>"account", :action=>"logout" %></p>
      
</div>
