<h1><%= _('List of offers with time credits') %></h1>

<% text = _('an %s offer') % App::ServiceName  %>
<% paginated_section(@credits, :create_label => text) do %>
 <% titles = [_('Credit|Name')] %>
 <%= show_table(@credits, Rules::Credit, titles) do |c|
   result = ''
   result << "<td>#{c.name}</td>"
   result << link_to_actions_table(c)
 end %>
 <%= page_entries_info @credits %><br />
<% end %>
