<h1><%= _('Update your knowledge') %></h1>

<% form_for(@knowledge) do |f| %>
  <%= render :partial => 'form' %>
  <p><%= f.submit _("Update") %></p>
<% end %>

<%= link_to_show_and_list(@knowledge) %>
