<h1><%= _('List of all knowledges') %> <%= StaticPicture::spinner %></h1>

<% options = { :create_label => _('a knowledge'), :remote_url => knowledges_path } %>
<% paginated_section(@knowledges, options) do %>
 <% titles = [ _('Name'), _('Level'), _('Knowledge') ] %>
 <% last_engineer_id = 0 %>
 <%= show_table(@knowledges, Knowledge, titles) do |k|
   result = ''
   if k.engineer_id != last_engineer_id
     last_engineer_id = k.engineer_id
     name = k.engineer.name
   else
     name = ' - '
   end
   result << "<td>#{name}</td>"
   result << "<td>#{k.level}</td>"
   result << "<td>#{k.name}</td>"
   result << "#{link_to_actions_table k}"
 end %>
 <%= page_entries_info @knowledges %><br />
<% end %>
