<h1>Editer un logiciel</h1>

<% form_tag(:action => 'update', :id => @logiciel) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Enregistrer' %>
<% end %>

<%= link_to 'Voir', :action => 'show', :id => @logiciel %> |
<%= link_to 'Retour à la liste', :action => 'list' %>
