<h1><%= _('Edit a software')%></h1>

<% form_tag(logiciel_path(@logiciel), :method => :put) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Update') %>
<% end %>

<%= link_to_show_and_list( :id => @logiciel.id) %>
