<h1>Ajouter un nouveau logiciel</h1>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Ajouter" %>
<%= end_form_tag %>

<%= link_to 'Retour à la liste', :action => 'list' %>
