<h1><%=t(:Index)%></h1>

<% paginated_section(@releases, :create_label => t(:a_release)) do %>
 <% titles = [ t(:'Models.Release'), t(:'Release.Packaged'), t(:'Release.Active') ] %>
 <%= show_table(@releases, Release, titles) do |r|
   result = ''
   result << "<td>#{link_to_release(r)}</td>"
   result << "<td>#{ 'X' if r.packaged? }</td>"
   result << "<td>#{ 'X' unless r.inactive? }</td>"
   result << "#{link_to_actions_table r}"
 end %>
 <%= page_entries_info @releases %><br />
<% end %>
