<h1><%=_('List of releases')%></h1>

<% paginated_section(@releases, :create_label => _('a release')) do %>
 <% titles = [ _('Release'), _('Packaged'), _('Activated') ] %>
 <%= show_table(@releases, Release, titles) do |r|
   result = ''
   result << "<td>#{link_to_release(r)}</td>"
   result << "<td>#{ 'X' if r.packaged? }</td>"
   result << "<td>#{ 'X' unless r.inactive? }</td>"
   result << "#{link_to_actions_table r}"
 end %>
 <%= page_entries_info @releases %><br />
<% end %>
