<h1><%=t(:releases_new)%></h1>

<% form_tag(releases_path, :multipart => true, :id => 'main_form') do %>
  <%= render :partial => 'form' %>
  <%= submit_tag t('Validate') %>
<% end %>

<%= link_to_back %>
