<h1>Editing socle</h1>

<% form_tag socle_path(@socle), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Voir', socle_path(@socle) %> |
<%= link_to_back %>
