<h1>Editing socle</h1>

<%= start_form_tag :action => 'update', :id => @socle %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Voir', :action => 'show', :id => @socle %> |
<%= link_to 'Retour à la liste', :action => 'index' %>
