<%= error_messages_for 'etape' %>

<!--[form:etape]-->
<p><label for="etape_nom">Nom</label><br/>
<%= text_field 'etape', 'nom'  %></p>

<p><label for="etape_description">Description</label><br/>
<%= text_area 'etape', 'description'  %></p>
<!--[eoform:etape]-->

