<h1>Liste des étapes possible d&#146;un projet</h1>

<%= show_pages_links(@etape_pages, 'une étape') %>

<% titres = ['']%>
<%= show_table(@etapes, Etape, titres, :content_columns => true) { |c|
  result = ''
  result << "#{link_to_actions_table c}"
}%>


<%= show_pages_links(@etape_pages, 'une étape') %>


