<h1>Editing machine</h1>

<% form_tag machine_path(@machine), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', machine_path(@machine) %> |
<%= link_to_back %>
