<h1><%= _('Editing machine')%></h1>

<% form_tag machine_path(@machine), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Edit') %>
<% end %>
<br />

<%= link_to_show_and_list @machine %>
