<h1><%= _('IT infrastructure of Virtual machines of %s') % App::ServiceName %></h1>

<%= show_pages_links(@machine_pages, _('a machine') ) %>

<% titres = [ _('Customer'), _('System') , _('Access (IP)') , _('Informations') ]%>
<%= show_table(@machines, Machine, titres) { |m|
  result = ''
  result << '<td>'
  m.socle.clients.each do |c| 
    result << "#{c.name}<br />"
  end if m.socle
  result << '</td>'
  result << "<td>#{link_to_socle(m.socle)}</td>"
  result << "<td nowrap=\"nowrap\">#{link_to_machine(m)}</td>"
  result << "<td>#{m.description}</td>"
  result << "#{link_to_actions_table m}"
}%>

<%= show_pages_links(@machine_pages, _('a machine') ) %>
