<% for column in Machine.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @machine.send(column.name) %>
</p>
<% end %>

<p>
  <b>Socle:</b> <%= @machine.socle.nom if @machine.socle %>
</p>


<%= link_to 'Edit', :action => 'edit', :id => @machine %> |
<%= link_to 'Back', :action => 'index' %>
