<h1>Editing competence</h1>

<% form_tag competence_path(@competence), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', competence_path(@competence) %> |
<%= link_to_back %>
