<h1>Liste des compétences</h1>

<%= show_pages_links(@competence_pages, 'une compétence') %>

<% titres = ['Ressources']%>
<%= show_table(@competences, Competence, titres, :content_columns => true) { |c|
  result = ''
  result << "<td>#{c.ingenieurs.count}</td>"
  result << "#{link_to_actions_table c}"
}%>


<%= show_pages_links(@competence_pages, 'une compétence') %>


