<div id='demande_tab_content' class='demande_tab_content'>
  <%= render :partial => 'tab_comment', :collection => @commentaires, :locals => { :pretty_print => (controller.action_name.intern == :pretty_print) } %>
</div>