<div id="recipient"><%= select(:demande, :beneficiaire_id, @beneficiaires) %>
   <% options = PagesHelper::SPINNER_OPTIONS.dup.update(:with => "contrat_id",
        :url => ajax_display_contract_demandes_path) %>
   <%= observe_field "demande_contrat_id", options %>
</div>
