<div id="recipient"><%= select(:demande, :recipient_id, @recipients) %>
   <% options = PagesHelper::SPINNER_OPTIONS.dup.update(:with => "contract_id",
        :url => ajax_display_contract_demandes_path) %>
   <%= observe_field "demande_contract_id", options %>
</div>
