<div class="demande_tab_content" name="demande_tab_content">

<table>
  <tr>
    <th><%= _("Date") %></th>
    <th></th>
    <th><%= _("Change(s)") %></th>
  </tr>

  <% @commentaires.each do |c| %>
     <tr class="<%= cycle('pair', 'impair') %>">
       <td><%= c.created_on_formatted %></td>
       <td>&nbsp;</td>
       <td><%= display_history c %>
      </td>
    </tr>
  <% end %>
</table>
</div>
