<div id="logiciel">
  <% if @logiciels.size > 1 %>
    <%= select_empty(:demande, :logiciel_id, @logiciels) %>
  <% elsif @logiciels.size == 1 %>
    <% #We have a collect [logiciel.name, logiciel.id ] %>
    <%= @logiciels.first.first %>
    <%= hidden_field(:demande, :logiciel_id, :value => @logiciels.first.last) %>
  <% end %>

  <% options = PagesHelper::SPINNER_OPTIONS.dup.update(:with =>
      "Form.serializeElements($('demande_logiciel_id','demande_contract_id'))",
      :url => ajax_display_version_demandes_path) %>
  <%= observe_field "demande_logiciel_id", options %>
</div>
