<div id="logiciel">
  <%= select_empty(:demande, :logiciel_id, @logiciels) %>
  <% options = PagesHelper::SPINNER_OPTIONS.dup.update(:with =>
      "Form.serializeElements($('demande_logiciel_id','demande_contract_id'))",
      :url => ajax_display_version_demandes_path) %>
  <%= observe_field "demande_logiciel_id", options %>
</div>
