<th>
  <% unless @versions.empty? %>
    <label for="software_revision_id"><%= _("Version") %></label>
  <% end %>
</th>
<td>
  <% unless @versions.empty? %>
    <%= select_empty(:software, :revision_id, @versions) %>
  <% end %>
</td>
