  <th>
   <% unless @binaires.empty? %>
    <label for="demande_binaire_id"><%= _("Version") %></label>
   <% end %>
  </th>
  <td>
   <% unless @binaires.empty? %>
    <%= select_empty(:demande, :binaire_id, @binaires) %>
   <% end %>
  </td>