<tr id="version">
  <th>
   <% unless @binaires.empty? %>
    <label for="demande_binaire_id"><%= _("Version") %></label>
   <% end %>
  </th>
  <% unless @binaires.empty? %>
   <td><%= select_empty(:demande, :binaire_id, @binaires) %></td>
  <% end %>
</tr>
