<th>
  <% unless @versions.empty? %>
    <label for="demande_version_id"><%= _("Version") %></label>
  <% end %>
</th>
<td>
  <% unless @versions.empty? %>
    <%= select_empty(:demande, :version_id, @versions) %>
  <% end %> 
</td>