<h1>Modifier la demande <%= @demande.id %>(administration)</h1>


<% form_tag  ( demande_path(@demande.id), {:method => :put},
                     {:multipart => true, :id => 'demande_form', :name => 'demande_form' }) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Modifier' %>
<% end %>

<%= link_to_back %>
