<%= render :partial => 'description' %>

<% # render :partial => 'comments' %>

<%= render :partial => 'history' %>

<%= render :partial => 'piecejointes' %>

<%= render :partial => 'appels' %>

<%= render :partial => 'cns' %>