<h1>Description</h1>
<%= render :partial => 'description' %>
<br />

<h1>Commentaires</h1>
<%= render :partial => 'comments' %>
<br />

<h1>Historique</h1>
<%= render :partial => 'history' %>
<br />

<h1>Appels</h1>
<%= render :partial => 'appels' %>
<br />

<h1>CNS</h1>
<%= render :partial => 'cns' %>
<br />