<script type="text/javascript"><!--
  window.onload = print();
//--></script>

<h1><%= _("Description") %></h1>
<%= render :partial => 'description' %>
<br/>

<h1><%= _("Comments") %></h1>
<%= render :partial => 'tab_comments' %>
<br/>

<h1><%= _("History") %></h1>
<%= render :partial => 'history' %>
<br/>

<h1><%= _("Phonecalls") %></h1>
<%= render :partial => 'appels' %>
<br/>

<h1><%= _("SLA") %></h1>
<%= render :partial => 'cns' %>
<br/>
