


<% ############ infos demandes #########################  
   # require : @demande, @correctifs, @count 
   #           @identifiant_ingenieurs %>
<div class="summary">
<%= render_partial 'test_infos_demande' %>
</div>

<div class="content">
<h1><%= "[#{sprintf "%06d", @demande.id}] #{@demande.resume}" %></h1>
 <% if @commentaires.size > 0 %>
   <div id="commentaires-list">
    <%= render :partial => 'tab_comments', :collection => [@commentaires.last] %>
   </div>
 <% else %>
   <%=indent @demande.description %>
 <% end %>
<% action = {:action => 'comment', :controller => 'commentaires', :id => @demande} %>
<% form_tag(action, :multipart => true) do %>
  <%= render :partial => 'comment_form' %>
  <p>&nbsp;</p>
<% end %>


<% options = { :update => 'demande_tab',
    :url => { :action => nil, :id => @demande.id } } %>
<ul class="demande_tabnav" id="demande_tabnav">
 <li>
   <% options[:url][:action] = 'ajax_description' %>
   <%= link_to_remote 'Description', options %>
 </li>
 <li>
   <% options[:url][:action] = 'ajax_comments' %>
   <%= link_to_remote 'Commentaire', options, :class => 'active' %>
 </li>
 <li>
   <% options[:url][:action] = 'ajax_history' %>
   <%= link_to_remote 'Historique', options %>
 </li>
</ul>
<div class="demande_tab" id="demande_tab">
<%= render :partial => 'tab_description' if @commentaires.size > 0 %>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

</div>

