<h1><%= @title %><%= StaticPicture::spinner %></h1>

<% options = { :create_label => _('a new issue'), :remote_url => issues_path }%>
<% paginated_section(@issues, options) do %>
 <%= render :partial => 'issues/lists/issues_table' %>
 <%= page_entries_info @issues %><br />
<% end %>
