<p><b>Demande:</b> #<%= @demandechange.demande.id %> <%=@demandechange.demande.resume %></p>
<p><b>Statut:</b> #<%= @demandechange.statut.nom %></p>
<% for column in Demandechange.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @demandechange.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @demandechange %> |
<%= link_to 'Back', :action => 'list' %>
