<h1>Editing groupe</h1>

<% form_tag groupe_path(@groupe), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', groupe_path(@groupe) %> |
<%= link_to_back %>
