<h1><%= _('Group list')%></h1>

<%= show_pages_links(@groupe_pages, _('a group') ) %>

<% titres = [_('Name') , _('Software') ]%>
<%= show_table(@groupes, Groupe, titres) { |g|
  result = ''
  result << "<td>#{g.name }</td>"
  result << "<td>#{g.softwares.size}</td>"
  result << "#{link_to_actions_table g}"
}%>


<%= show_pages_links(@groupe_pages, _('a group') ) %>
