<% for column in Groupe.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @groupe.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @groupe %> |
<%= link_to 'Back', :action => 'list' %>
