<h1><%= "Groupe logiciels \"#{@groupe.nom}\"" %></h1>

<table class="show">
<% for column in Groupe.content_columns %>
<tr><td><b><%= column.human_name %>:</b>
    <td><%=h @groupe.send(column.name) %></td></tr>
<% end %>

  <tr>
    <td><b>Logiciels:</b>
    <td><%= show_liste(@groupe.logiciels, 'Logiciels', 
             {:no_title => true}) { |l| link_to_logiciel l} %></td>
  </tr>

</table>

<%= link_to_edit_and_list @groupe %>
