<h1><%= t(list_of_components_offers) %></h1>

<% text = t(:an_offer, :name => App::ServiceName) %>
<% paginated_section(@components, :create_label => text) do %>
 <% titles = [t(:name)] %>
 <%= show_table(@components, Rules::Component, titles) do |c|
   result = ''
   result << "<td>#{c.name}</td>"
   result << link_to_actions_table(c)
 end %>
 <%= page_entries_info @components %><br />
<% end %>
