<h1>Liste des sévérités</h1>

<%= show_pages_links(@severity_pages, _("a new severity")) %>

<% titres = [] %>
<%= show_table(@severities, Severity, titres, :content_columns => true) { |p|
  result = ''
  result << "#{link_to_actions_table p}"
}%>

<%= show_pages_links(@severity_pages, _("a new severity")) %>
