<h1>Liste des sévérités</h1>

<% paginated_section(@severities, :create_label => _('a new severity')) do %>
 <%= show_table(@severities, Severity, [], :content_columns => true) do |p|
   result = ''
   result << "#{link_to_actions_table p}"
 end %>
 <%= page_entries_info @severities %><br />
<% end %>
