<% for column in Severity.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @severity.send(column.name) %>
</p>
<% end %>

<%= link_to t(:Edit), edit_severity_path(@severity) %> |
<%= link_to t(:Back), severities_path %>
