<h1>Editing changelog</h1>

<% form_tag changelog_path(@changelog), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', changelog_path(@changelog) %> |
<%= link_to_back %>
