<h1><%= _('List of the changelogs') %></h1>

<%= show_pages_links(@changelog_pages, _('a changelog')) %>

<% titles = [] %>
<%= show_table(@changelogs, Changelog, titles, :content_columns => true) { |c|
  result = ''
  result << "#{link_to_actions_table c}"
}%>

<%= show_pages_links(@changelog_pages, _('a changelog')) %>
