<h1>Liste des changelogs</h1>

<%= show_pages_links(@changelog_pages, 'un changelog') %>

<% titres = []%>
<%= show_table(@changelogs, Changelog, titres, :content_columns => true) { |c|
  result = ''
  result << "#{link_to_actions_table c}"
}%>


<%= show_pages_links(@changelog_pages, 'un changelog') %>


