<% for column in Changelog.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @changelog.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @changelog %> |
<%= link_to 'Back', :action => 'index' %>
