<% for column in Changelog.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @changelog.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', edit_changelog_path(@changelog) %> |
<%= link_to 'Back', changelogs_path %>
