<%= error_messages_for 'image' %>

<!--[form:photo]-->
<p><label for="image_image">Image</label><br/>
<%= file_column_field 'image', 'image'  %></p>

<p><label for="image_description">Description</label><br/>
<%= text_field 'image', 'description'  %></p>
<!--[eoform:photo]-->

