<%= error_messages_for 'image' %>

<p><label for="image_image"><%= _("Image") %></label><br/>
<%= file_column_field 'image', 'image'  %></p>

<p><label for="image_description"><%= _("Description") %></label><br/>
<%= text_field 'image', 'description'  %></p>
