<h1>Liste des images</h1>

<%= show_pages_links(@image_pages, 'une image') %>

<% titres = ['Formatté','Description']%>
<%= show_table(@images, Image, titres) { |p|
  result = ''
  result << "<td>#{image_tag url_for_file_column(p, 'image', 'thumb')}</td>"
  result << "<td>#{p.description}</td>"
  result << "#{link_to_actions_table p}"
}%>

<%= show_pages_links(@image_pages, 'une image') %>



