<% for column in Image.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @image.send(column.name) %>
</p>
<% end %>
<%= image_tag url_for_file_column("image", "image", "thumb") %><br />
<%= image_tag url_for_file_column("image", "image", "medium") %><br />
<%= image_tag url_for_file_column("image", "image") %><br />

<%= link_to 'Edit', :action => 'edit', :id => @image %> |
<%= link_to 'Back', :action => 'list' %>

