<h1>Editer une architecture</h1>

<%= start_form_tag :action => 'update', :id => @arch %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Voir', :action => 'show', :id => @arch %> |
<%= link_to 'Retour à la liste', :action => 'index' %>
