<h1>Editer une architecture</h1>

<% form_tag(arch_url(@arch), :method => :put) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<br />
<%= link_to_show_and_list(@arch) %>

