<h1><%= _('List of processor architecture')%></h1>

<%= show_pages_links(@arch_pages, _('A processor architecture') ) %>

<% titres = []%>
<%= show_table(@arches, Arch, titres, :content_columns => true) { |c|
  result = ''
  result << "#{link_to_actions_table c}"
}%>

<%= show_pages_links(@arch_pages, _('A processor architecture') ) %>
