<h1>Ajouter une architecture</h1>

<%= start_form_tag :action => 'new' %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Ajouter" %>
<%= end_form_tag %>

<%= link_to 'Retour à la liste', :action => 'index' %>
